@model InstructionViewModel
<style>
    div.k-edit-form-container {
        width: auto;
    }

        div.k-edit-form-container div.editor-field textarea, input.k-textbox, .k-dropdown {
            width: 100%;
            max-width: none;
            padding-left: 0px;
        }



    .petit {
        max-height: 20px;
        padding-right:0px;
    }

    .row {
        margin-right: 15px;
        margin-left: 15px;
    }

    .col {
        padding-left: 0px;
        padding-right: 0px;
    }
</style>

<div class="container" style="width:600px; margin:0px;padding:0px;">

    <div class="row">
        <div class="col-md-12" style="padding-left:0px;">
            @Html.HiddenFor(model => model.InstructionId)
            <div class="panel panel-info">

                <div class="panel-heading">Instructions</div>
                <div class="panel-body">



                    <div class="form-group" style="margin-bottom:5px;">


                        @Html.LabelFor(model => model.Identificateur, new { @class = "control-label pull-left" })


                        @Html.TextBoxFor(model => model.Identificateur, new { @class = "form-control petit", @style = "width:95%;" })
                        @Html.ValidationMessageFor(model => model.Identificateur)

                    </div>


                    <div class="form-group" style="margin-bottom:5px;">


                        @Html.LabelFor(model => model.IdentificateurEN, new { @class = "control-label pull-left" })


                        @Html.TextBoxFor(model => model.IdentificateurEN, new { @class = "form-control petit", @style = "width:95%;" })
                        @Html.ValidationMessageFor(model => model.IdentificateurEN)

                    </div>



                    <div class="form-group" style="margin-bottom:5px;">
                        @Html.LabelFor(model => model.DispositifId, new { @class = "control-label" })

                        @(Html.Kendo().DropDownListFor(m => m.DispositifId)
                                                    .DataValueField("DispositifId")
                                                    .DataTextField("Description")
                                                    .BindTo((System.Collections.IEnumerable)ViewData["Dispositifs"])
                                                    .HtmlAttributes(new { data_value_primitive = "true" })
                        )
                        @Html.ValidationMessageFor(model => model.DispositifId)
                    </div>



                    <div class="form-group" style="margin-bottom:5px;">
                        @Html.LabelFor(model => model.AccessoireId, new { @class = "control-label" })

                        @(Html.Kendo().DropDownListFor(m => m.AccessoireId)
                                                    .DataValueField("AccessoireId")
                                                    .DataTextField("Description")
                                                    .BindTo((System.Collections.IEnumerable)ViewData["Accessoires"])
                                                    .HtmlAttributes(new { data_value_primitive = "true" })
                        )
                        @Html.ValidationMessageFor(model => model.DispositifId)
                    </div>

                    <div class="form-group" style="margin-bottom:5px;">


                        @Html.LabelFor(model => model.TexteInstruction, new { @class = "control-label pull-left" })


                        @Html.TextAreaFor(model => model.TexteInstruction, new { @cols = 80, @rows = 7, @style = "width:100%" })
                        @Html.ValidationMessageFor(model => model.TexteInstruction)

                    </div>

                    <div class="form-group" style="margin-bottom:5px;">


                        @Html.LabelFor(model => model.TexteInstructionEN, new { @class = "control-label pull-left" })


                        @Html.TextAreaFor(model => model.TexteInstructionEN, new { @cols = 80, @rows = 7, @style = "width:100%" })
                        @Html.ValidationMessageFor(model => model.TexteInstructionEN)

                    </div>


                </div>
            </div>
        </div>
    </div>
</div>






