@using System.Threading
@using Previgesst.Ressources

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_v2.cshtml";

    bool IsCorporate = false;
    bool.TryParse(Convert.ToString(HttpContext.Current.Session["IsCorporate"]), out IsCorporate);


    string nomUtilisateur = "Prénom<br /> de l'administrateur";
    if (Request.IsAuthenticated)
    {
        nomUtilisateur = User.Identity.Name;
    }
}

@section sidebarChilds{
    <li><a class="submenu-dropdown-item" href="/Account/ChangePassword">@LayoutRES.ChangePassword</a></li>
}

<main class="main-container-wrapper">
    <div class="main-container container">
        <div class="main-heading ">
            <h1> Bienvenue, <span style="color:#329FFD;">@nomUtilisateur</span></h1>
        </div>
        <div class="main-subheading">
            <img src="/content/v2/images/power-icon.svg">
            <p> @*@LayoutRES.Note*@ </p>
        </div>
        <div class="row previcad-main-cards">
            <div class="col-md-5 col-12 card" onclick='window.location = "@string.Format("/{0}/FicheCadenassage/Index", Thread.CurrentThread.CurrentCulture.TwoLetterISOLanguageName)"'>
                <div class="card-wrapper card-wrapper-link">
                    <img class="card-top-img" src="/content/v2/images/1.png" alt="badge">
                    <div class="previcad-card-icons">
                        <img src="/content/v2/images/icn1.png" class="icn" alt="badge">
                    </div>
                    <h4 class="main-page-heading">
                        @LayoutRES.Cadenassage
                    </h4>

                    <div class="card-enter-arrow">Enter <img src="/content/v2/images/arw.svg"></div>
                </div>
            </div>

            <div class="col-md-5 col-12 card">
                <div class="card-wrapper card-wrapper-link" onclick='window.location = "@string.Format("/{0}/AnalyseRisque/Index", Thread.CurrentThread.CurrentCulture.TwoLetterISOLanguageName)"'>
                    <img class="card-top-img" src="/content/v2/images/2-new.jpg" alt="badge">
                    <div class="previcad-card-icons">
                        <img src="/content/v2/images/icn2.png" class="icn" alt="badge">
                    </div>
                    <h4 class="main-page-heading">
                        @LayoutRES.AnalyseDeRisque
                    </h4>

                    <div class="card-enter-arrow">Enter <img src="/content/v2/images/arw.svg"></div>
                </div>
            </div>

            @*<div class="col-md-5 col-12 card ">
                    <div class="card-wrapper">
                        <img class="card-top-img" src="/content/v2/images/1.png" alt="badge">
                        <div class="previcad-card-icons">
                            <img src="/content/v2/images/icn1.png" class="icn" alt="badge">
                        </div>
                        <h4>Cadenassage</h4>
                        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        <div class="card-enter-arrow">Enter <img src="/content/v2/images/arw.svg"></div>
                    </div>
                </div>*@
        </div>

        @if (User.IsInRole("Administrateur") && HttpContext.Current.Session["IsCorporate"] != null)
        {
            <div class="autries-actions">
                <div class="autries-title">@LayoutRES.Actions</div>
                <ul>
                    @if (!IsCorporate)
                    {
                        <li>
                            <a href="~/Manage/Index" class="link-no-style">
                                <div class="autries-actions-icon">
                                    <img src="/content/v2/images/gest.svg">
                                </div>
                                <div class="autries-actions-title">
                                    @LayoutRES.ActionAdmin
                                </div>
                            </a>
                        </li>
                    }


                    <li>
                        <a href="~/Client/Index" class="link-no-style">
                            <div class="autries-actions-icon autries-circle-icon">
                                <img src="/content/v2/images/Clients.svg">
                            </div>
                            <div class="autries-actions-title">
                                @LayoutRES.ActionClient
                            </div>
                        </a>
                    </li>

                    @if (!IsCorporate)
                    {
                        <li>
                            <a href="~/ParametresApp/Index" class="link-no-style">
                                <div class="autries-actions-icon autries-circle-icon">
                                    <img src="/content/v2/images/Messages.svg">
                                </div>
                                <div class="autries-actions-title">@LayoutRES.ActionMaintenance</div>
                            </a>
                        </li>
                        <li>
                            <a href="~/AdminPrevi/Errors" class="link-no-style">
                                <div class="autries-actions-icon autries-circle-icon">
                                    <img src="/content/v2/images/Tracage-de-bogues.svg">
                                </div>
                                <div class="autries-actions-title">@LayoutRES.ActionLogs</div>
                            </a>
                        </li>
                    }
                </ul>
            </div>
        }
    </div>
</main>
