@model Previgesst.ViewModels.EditCadenassageViewModel
@using Previgesst.Ressources.Analyse
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutClient_v2.cshtml";

    if (ViewData["Layout"] != null)
    {
        Layout = (string)ViewData["Layout"];
    }
}


@section styles{
    <link href="~/Content/kendo/2016.2.714/kendo.common-bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/kendo/2016.2.714/kendo.bootstrap.min.css" rel="stylesheet" />

    <link href="~/Content/kendo/2016.2.714/kendo.dataviz.min.css" rel="stylesheet" />
    <link href="~/Content/kendo/2016.2.714/kendo.dataviz.bootstrap.min.css" rel="stylesheet" />

    <link href="~/Content/v2/grid-override.css" rel="stylesheet" />
    <link href="~/Content/v2/buttons.css" rel="stylesheet" />
}

@section sidebar{
    <ul class="nav flex-column sidebar-nav" role="tablist">
        <li class="nav-item text-center mt-2">
            <a class="nav-link home-navlink" role="tab" href='@if (this.Layout.EndsWith("_Layout_v2.cshtml")) { @Url.Action("Index", "AdminPrevi") } else { @Url.Action("Index", "MesApplications") } '>
                <img src="/content/v2/images/icon-home.png"><p class="nav-link-text">Accueil</p>
            </a>
        </li>

        <li class="nav-item text-center active">
            <a id="AnalysFich" class="nav-link home-navlink" href="#Fiches" aria-controls="general" role="tab" data-toggle="tab" data-bs-toggle="tab">
                <img src="~/content/v2/images/material-icon.svg" title="@AREditClientRES.Analyses" />
                <p class="nav-link-text">@AREditClientRES.Analyses</p>
            </a>
        </li>
        <li class="nav-item text-center">
            <a id="DocCliAnalyse" class="nav-link home-navlink" href="#DocClients" aria-controls="pratiques" role="tab" data-toggle="tab" data-bs-toggle="tab">
                <img src="/content/v2/images/left-icon2.svg" title="@AREditClientRES.Documents" />
                <p class="nav-link-text">@AREditClientRES.Documents</p>
            </a>
        </li>
    </ul>
}


<main class="main-container-wrapper page-container">

    <div class="breadcrumbs-nav-wrapper">
        <ul class="breadcrumbs">
            <li><a href='@if (this.Layout.EndsWith("_Layout_v2.cshtml")) { @Url.Action("Index", "AdminPrevi") } else { @Url.Action("Index", "MesApplications") } '>Accueil</a></li>
            <li><a href="~/@System.Threading.Thread.CurrentThread.CurrentCulture.TwoLetterISOLanguageName/AnalyseRisque/Index">Analyses de risques</a></li>
            <li>@AREditClientRES.GestionAnalyses</li>
        </ul>
    </div>


    <div class="main-page-content">

        @*
            <h1>@AREditClientRES.GestionAnalyses</h1>
            title="@AREditClientRES.Analyses"
            title="@AREditClientRES.Documents"
        *@


        <div class="tab-content">
            <div id="Fiches" class="tab-pane active">
                @Html.Partial("Analyses", @Model)
            </div>

            <div id="DocClients" class="tab-pane">
                @Html.Partial("DocClients", @Model)
            </div>
        </div>
    </div>

</main>
