@model EquipementArticuloViewModel
@using Previgesst.Ressources.Cadenassage


<div class="p-4 bg-white">

    <div class="row">
        <div class="col-11">

            @Html.HiddenFor(model => model.EquipementId)
            @Html.HiddenFor(model => model.EquipementArticuloID)


            @*<div class="panel-heading">@CadEquipRES.EquipmentMgmtEnergy</div>*@


            <div class="form-group">
                <label for="Model" class="form-label">@CadEquipRES.SourceEnergie</label>

                @(Html.Kendo().DropDownListFor(m => m.Energy)
                        .DataValueField("SourceEnergieId")
                        .DataTextField("Description")
                        .BindTo((System.Collections.IEnumerable)ViewData["Sources"])
                        .HtmlAttributes(new { data_value_primitive = "true" })
                )
                @Html.ValidationMessageFor(model => model.Energy)
            </div>


            <div class="form-group mt-3">
                <label for="Model" class="form-label">@CadEquipRES.Dispositif</label>

                @(Html.Kendo().DropDownListFor(m => m.Deposit)
                        .DataValueField("DispositifId")
                        .DataTextField("Description")
                        .BindTo((System.Collections.IEnumerable)ViewData["Dispositifs"])
                        .HtmlAttributes(new { data_value_primitive = "true" })
                )
                @Html.ValidationMessageFor(model => model.Deposit)
            </div>


            <div class="form-group mt-3">
                <label for="Model" class="form-label">@CadEquipRES.Accessoires</label>

                @(Html.Kendo().DropDownListFor(m => m.Accessories)
                        .DataValueField("AccessoireId")
                        .DataTextField("Description")
                        .BindTo((System.Collections.IEnumerable)ViewData["Accessoires"])
                        .HtmlAttributes(new { data_value_primitive = "true" })
                )
                @Html.ValidationMessageFor(model => model.Accessories)
            </div>

            <div class="form-group mt-3">
                <label for="Model" class="form-label">@CadEquipRES.Nomenclature</label>

                @Html.TextBoxFor(model => model.Nomenclature, new { @class = "form-control petit" })
                @Html.ValidationMessageFor(model => model.Nomenclature)
            </div>

        </div>
    </div>
</div>


<script type="text/javascript">
    $(document).ready(() => {

        $('.k-grid-update').removeClass('btn-edit').addClass('btn-mettre m-1');
        $('.k-grid-cancel').removeClass('btn-edit').addClass('btn-Annuler m-1');
    });
</script>