@using Previgesst.Ressources.Cadenassage
@model EquipementViewModel


<div class="p-4 bg-white">
    <div class="row">
        <div class="col-11">
            @Html.HiddenFor(model => model.EquipementId)
            @Html.HiddenFor(model => model.ClientId)


            <div class="form-group">
                @Html.LabelFor(model => model.NomEquipement, new { @class = "form-label" })
                @Html.LabelFor(model => model.NomEquipementEN, new { @class = "form-label" })
                @Html.LabelFor(model => model.NumeroEquipment, new { @class = "form-label" })

                @Html.EditorFor(model => model.Model)
                @Html.EditorFor(model => model.Manufacturer)

            </div>


            <div class="form-group mt-3">



            </div>

        </div>
    </div>

</div>
