@model DocumentFicheViewModel


<div class="p-4 bg-white">

    <div class="row">
        <div class="col-11">
            @Html.HiddenFor(model => model.DocumentFicheId)
            @Html.HiddenFor(model => model.FicheCadenassageId)
            @Html.HiddenFor(model => model.ApplicationPreviId)

            <div class="form-group">

                @Html.LabelFor(model => model.Titre, new { @class = "form-label d-block" })

                @Html.TextBoxFor(model => model.Titre, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Titre)

            </div>

            <div class="form-group mt-3">
                @Html.LabelFor(model => model.FileName, new { @class = "form-label d-block" })
            </div>

            <div class="form-group mt-3 btn-image-upload-only">

                @(Html.Kendo().Upload()
                        .Name("file")
                        .HtmlAttributes(new { @class = "form-control" })
                        .Multiple(false)
                        .Async(a => a
                                .Save("SaveDocumentFicheLinkCadenassage", "DocumentsFiche", new { id = Model.FicheCadenassageId })
                                .AutoUpload(true)
                        )
                        .Events(e => e.Success("docSuccess").Upload("docUpload").Select("docSelect"))
                )


            </div>

        </div>
    </div>
</div>




@*<script>
    jQuery(document).ready(function () {
        "use strict";
        console.log('creation document');

        // add btn-img class UI-v2
        jQuery('.k-button.k-upload-button').addClass('btn-img m-1');

        // hide span and em tag with btn-img UI-v2
        //jQuery('.k-button.k-upload-button').parent().find('em').addClass('d-none');
    });
</script>*@