@model LigneDecadenassageViewModel
@using Previgesst.Ressources.Cadenassage

<div class="p-3 bg-white popup-mx-h">
    <div class="row">
        <div class="col">
            @Html.HiddenFor(model => model.LigneDecadenassageId)
            @Html.HiddenFor(model => model.FicheCadenassageId)


            <div class="form-group">
                @Html.LabelFor(model => model.InstructionId, new { @class = "form-label d-block" })

                @(Html.Kendo().DropDownListFor(m => m.InstructionId)
                                                                    .DataValueField("InstructionId")
                                                                    .DataTextField("Identificateur")

                                                                    .Template("<div class=\"drop-down-list-item\" title=\"#=Description#-#=Dispositif#-#=Accessoire#\">#=Identificateur#</div>")
                                                                    .BindTo((System.Collections.IEnumerable)ViewData["Instructions"])
                                                                    .HtmlAttributes(new { data_value_primitive = "true" })
                                                                        .OptionLabel("-- " + CadLigneCadRES.SelectInstruction + "--")
                )
                @Html.ValidationMessageFor(model => model.InstructionId)
            </div>

            <div class="form-group imagedd mt-3">
                @Html.LabelFor(model => model.PhotoFicheCadenassageId, new { @class = "form-label d-block" })

                @(Html.Kendo().DropDownListFor(m => m.PhotoFicheCadenassageId)
                                                                    .DataValueField("PhotoFicheCadenassageId")
                                                                    .DataTextField("Rang")
                                                                    .BindTo((System.Collections.IEnumerable)ViewData["Photos"])
                                                                        .DataSource(c =>
                                                                        {
                                                                            c.Read(k => k.Action("getPhotos", "FicheCadenassage", new { FicheCadenassageId = ViewData["idFiche"] }));
                                                                        })
                                                                    .HtmlAttributes(new { data_value_primitive = "true", @class = "form-control" })
                                                                        .OptionLabel("-- " + CadLigneCadRES.SelectImage + "  --")
                                                                        .Template("<img style='height:65px' class='imgDropDown' src='" + Url.Content("~/Images/Cadenassage/Photos/") + "#:data.PhotoFicheCadenassageId#/thumb.jpg' /><span class='txtImgDropDown'>#:data.Rang#</span>")
                                                                        .ValueTemplate("<img style='height:65px' class='imgDropDown' src='" + Url.Content("~/Images/Cadenassage/Photos/") + "#:data.PhotoFicheCadenassageId#/thumb.jpg' /><span class='txtImgDropDown'>#:data.Rang#</span>")

                )
                @Html.ValidationMessageFor(model => model.PhotoFicheCadenassageId)
            </div>



            <div class="form-group mt-5">
                @Html.LabelFor(m => m.NoLigne, new { @class = "form-label d-block" })

                @(Html.Kendo().NumericTextBoxFor(m => m.NoLigne)
                            .HtmlAttributes(new { @class = "form-control", style = "width:100%" })
                            .Min(0)
                            .Decimals(1)
                            .Format("N1")
                            .Spinners(false)
                //.Culture(System.Threading.Thread.CurrentThread.CurrentCulture.TwoLetterISOLanguageName + "-CA")
                )

                @Html.ValidationMessageFor(m => m.NoLigne, "", new { @class = "text-danger" })


            </div>

            <div class="form-group mt-3">
                @Html.LabelFor(m => m.TexteSupplementaireInstruction, new { @class = "form-label d-block" })

                @Html.TextAreaFor(m => m.TexteSupplementaireInstruction, new { @class = "form-control", @rows = 3 })
                @Html.ValidationMessageFor(m => m.TexteSupplementaireInstruction, "", new { @class = "text-danger" })

            </div>

            <div class="form-group mt-3">
                @Html.LabelFor(m => m.TexteSupplementaireInstructionEN, new { @class = "form-label d-block" })

                @Html.TextAreaFor(m => m.TexteSupplementaireInstructionEN, new { @class = "form-control", @rows = 2 })
                @Html.ValidationMessageFor(m => m.TexteSupplementaireInstructionEN, "", new { @class = "text-danger" })

            </div>

            <div class="form-group mt-3">
                @Html.LabelFor(m => m.TexteSupplementaireDispositif, new { @class = "form-label d-block" })

                @Html.TextAreaFor(m => m.TexteSupplementaireDispositif, new { @class = "form-control", @rows = 3 })
                @Html.ValidationMessageFor(m => m.TexteSupplementaireDispositif, "", new { @class = "text-danger" })

            </div>

            <div class="form-group mt-3">
                @Html.LabelFor(m => m.TexteSupplementaireDispositifEN, new { @class = "form-label d-block" })

                @Html.TextAreaFor(m => m.TexteSupplementaireDispositifEN, new { @class = "form-control", @rows = 3 })
                @Html.ValidationMessageFor(m => m.TexteSupplementaireDispositifEN, "", new { @class = "text-danger" })

            </div>
        </div>
    </div>
</div>



<script type="text/javascript">
    $(document).ready(() => {

        $('.k-grid-update').removeClass('btn-edit').addClass('btn-mettre m-1');
        $('.k-grid-cancel').removeClass('btn-edit').addClass('btn-Annuler m-1');


        var dataInput = {
            id: $('#FicheCadenassageId').val()
        };

        $.ajax({
            data: JSON.stringify(dataInput),
            url: '@Url.Action("GetNewValueDecadenassage")',
            type: "POST",
            contentType: "application/json; charset=utf-8",
            success: function (result) {



                if ($('#LigneDecadenassageId').val() == 0) {
                    var numericBox = $("#NoLigne").data("kendoNumericTextBox");
                    numericBox.value(result);


                    var z = $('.k-popup-edit-form');
                    var gview = $("#listDEC").data("kendoGrid");
                    var item = $("#listDEC").find("[data-uid='" + z.attr('data-uid') + "']");
                    var selectedItem = gview.dataItem(item);
                    selectedItem.NoLigne = result;
                    selectedItem.dirty = true;
                }

            },
            error: function (data) {

            }
        });

    });
</script>