@using Previgesst.Ressources.Cadenassage
@model EmployeRegistreViewModel

<div class="p-4 bg-white">

    <div class="row">
        <div class="col-11">
            @Html.HiddenFor(model => model.EmployeRegistreId)
            @Html.HiddenFor(model => model.ClientId)

            <div class="form-group">
                @Html.LabelFor(model => model.NoEmploye, new { @class = "form-label d-block" })


                @Html.TextBoxFor(model => model.NoEmploye, new { @class = "form-control petit" })
                @Html.ValidationMessageFor(model => model.NoEmploye)
            </div>


            <div class="form-group mt-3">
                @Html.LabelFor(model => model.Nom, new { @class = "form-label d-block" })


                @Html.TextBoxFor(model => model.Nom, new { @class = "form-control petit" })
                @Html.ValidationMessageFor(model => model.Nom)
            </div>

            <div class="form-group mt-3">
                @Html.LabelFor(model => model.DepartementId, new { @class = "form-label d-block" })
                @(Html.Kendo().DropDownListFor(m => m.DepartementId)
                                    .DataValueField("DepartementId")
                                    .DataTextField("NomDepartement")
                                    .BindTo((System.Collections.IEnumerable)ViewData["Departements"])
                                    .DataSource(c =>
                                    {
                                        c.Read(k => k.Action("getDepartements", "FicheCadenassage", new { IDClient = ViewData["LeClient"] }));
                                    })
                                    .HtmlAttributes(new { data_value_primitive = "true" })
                                    .OptionLabel(CadEmpRES.SelectDEPT)
                            )
                @Html.ValidationMessageFor(model => model.DepartementId)
            </div>


            <div class="form-group mt-3">
                @Html.LabelFor(model => model.NoCadenas, new { @class = "form-label d-block" })


                @Html.TextBoxFor(model => model.NoCadenas, new { @class = "form-control petit" })
                @Html.ValidationMessageFor(model => model.NoCadenas)
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Password, new { @class = "form-label d-block" })

                @Html.TextBoxFor(model => model.Password, new { @class = "form-control petit", @autocomplte = "new-password" })
                @Html.ValidationMessageFor(model => model.Password)
            </div>


            <div class="form-group mt-3">
                @* @Html.LabelFor(m => m.Actif, new { @class = "form-label d-block" })

        @Html.CheckBoxFor(m => m.Actif)*@


                <div class="squaredThree squaredThree-blue">
                    <input type="checkbox" id="Actif" name="Actif" @(Model.Actif ? "checked" : "") value="@Convert.ToString(Model.Actif).ToLower()" />
                    <label for="Actif"><span class="form-label d-inline-block mt-1">@CadEmpRES.Actif </span></label>
                </div>

                @Html.ValidationMessageFor(m => m.Actif, "", new { @class = "text-danger" })
            </div>


        </div>
    </div>
</div>

