@using Previgesst.Ressources.Cadenassage
@model MaterielRequisCadenassageViewModel



<div class="p-3">




    <div class="row">
        <div class="col-11">
            @Html.HiddenFor(model => model.MaterielRequisCadenassageId)
            @Html.HiddenFor(model => model.FicheCadenassageId)


                <div class="form-group">
                    @Html.LabelFor(model => model.MaterielId, new { @class = "form-label d-block" })

                    @(Html.Kendo().DropDownListFor(m => m.MaterielId)
                                            .DataValueField("MaterielId")
                                            .DataTextField("Description")
                                            .BindTo((System.Collections.IEnumerable)ViewData["Materiel"])
                                            .HtmlAttributes(new { data_value_primitive = "true" })
                                              .OptionLabel("-- " + CadMaterielRES.SelectMateriel + " --")
                            )
                    @Html.ValidationMessageFor(model => model.MaterielId)
                </div>


                <div class="form-group mt-2">
                    @Html.LabelFor(model => model.Quantite, new { @class = "form-label d-block" })


                    @(Html.Kendo().NumericTextBoxFor(m => m.Quantite)
                                        .HtmlAttributes(new { @class = "form-control", style = "width:100%" })
                                        .Min(0)
                                        .Decimals(0)
                                        .Format("N0")
                            )

                    @Html.ValidationMessageFor(m => m.Quantite, "", new { @class = "text-danger" })


                </div>



        </div>
    </div>


</div>


<script>
    jQuery(document).ready(function () {
        "use strict";
        console.log('creation material');

        jQuery('.k-grid-update').removeClass('btn-edit').addClass('btn-mettre m-1');
        jQuery('.k-grid-cancel').removeClass('btn-edit').addClass('btn-Annuler m-1');
    });
</script>