@model Previgesst.ViewModels.LigneRegistreViewModel
@using Previgesst.Ressources.Previcad
<style>
    div.k-edit-form-container {
        width: auto;
    }

    div.k-edit-form-container div.editor-field textarea, input.k-textbox, .k-dropdown {
        width: 100%;
        max-width: none;
        padding-left: 0px;
    }

    .petit {
        max-height: 20px;
    }

    .row {
        margin-right: 15px;
        margin-left: 15px;
    }

    .col {
        padding-left: 0px;
        padding-right: 0px;
    }
</style>

<div class="container" style="width:600px;">
    <div class="panel panel-default" style="margin-left:15px;margin-right:30px;">
        <div class="panel-heading back-panel-light" style="font-size:larger;font-weight:500;color:white"></div>

        <div class="panel-body">
            <div class="row">
                <div class="col-md-10" style="padding-left:0px;">
                    @Html.HiddenFor(model => model.FicheCadenassageId)
                    @Html.HiddenFor(model => model.LigneRegistreId)
                    @Html.HiddenFor(model => model.PendingSteps)

                    <div class="form-group" style="margin-bottom:5px;">
                        @Html.LabelFor(model => model.BonDeTravail, new { @class = "control-label" })


                        @(Html.Kendo().TextBoxFor(model => model.BonDeTravail).HtmlAttributes(new { style = "width:100%" })
                        )
                        @Html.ValidationMessageFor(model => model.BonDeTravail)
                    </div>

                    <div class="form-group" style="margin-bottom:5px;">
                        @Html.LabelFor(model => model.DateDebut, new { @class = "control-label" })


                        @(Html.Kendo().DateTimePickerFor(model => model.DateDebut).HtmlAttributes(new { style = "width:100%" })
                        )
                        @Html.ValidationMessageFor(model => model.DateDebut)
                    </div>

                    <div class="form-group" style="margin-bottom:5px;">
                        @*@Html.LabelFor(model => model.FinPrevue, new { @class = "control-label" })*@
                        @Html.Label(@PrevFicheRES.FinPrevue.Replace("<br>", " "), new { @class = "control-label" })

                        @(Html.Kendo().DateTimePickerFor(model => model.FinPrevue).HtmlAttributes(new { style = "width:100%" })
                        )
                        @Html.ValidationMessageFor(model => model.FinPrevue)
                    </div>

                    <div class="form-group" style="margin-bottom:5px;">
                        @Html.LabelFor(model => model.DateFin, new { @class = "control-label" })


                        @(Html.Kendo().DateTimePickerFor(model => model.DateFin).HtmlAttributes(new { style = "width:100%" })
                        )
                        @Html.ValidationMessageFor(model => model.DateFin)
                    </div>

                    <div class="form-group" style="margin-bottom:5px;">

                        @Html.Label(@PrevFicheRES.Details.Replace("<br>", " "), new { @class = "control-label" })

                        @(Html.TextAreaFor(model => model.Note, 3, 40, new { @style = "width:100%" })
                        )
                        @Html.ValidationMessageFor(model => model.Note)
                    </div>

                    @*<div class="form-group" style="margin-bottom:5px;">
            @Html.Label(@PrevFicheRES.LuEtDecadenasse, new { @class = "control-label" })


            @(Html.Kendo().CheckBoxFor(model => model.LuEtDecadenasse).HtmlAttributes(new { style = "width:100%" })
            )
            @Html.ValidationMessageFor(model => model.LuEtDecadenasse)
        </div>*@
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    jQuery(document).ready(function () {
        "use strict";

        var pendingSteps = $('#PendingSteps').val();

        if (pendingSteps != "0") {
            jQuery('.k-grid-update').hide();
        }

        if (jQuery('#LuEtDecadenasse').prop("checked") == false) {
            jQuery("#DateFin").prop("disabled", true);
            jQuery("#DateFin").css("background", "lightgrey");
            jQuery('.k-grid-update').css('cursor', 'initial');
        } else if (jQuery('#LuEtDecadenasse').prop("checked") == true) {
            jQuery("#DateFin").prop("disabled", false);
            jQuery("#DateFin").css("background", "initial");
            jQuery('.k-grid-update').css('cursor', 'pointer');
        }

        jQuery('#LuEtDecadenasse').click(function () {
            if (jQuery(this).prop("checked") == false) {
                jQuery("#DateFin").prop("disabled", true);
                jQuery("#DateFin").css("background", "lightgrey");
                jQuery('.k-grid-update').css('cursor', 'initial');
            } else if (jQuery(this).prop("checked") == true) {
                jQuery("#DateFin").prop("disabled", false);
                jQuery("#DateFin").css("background", "initial");
                jQuery('.k-grid-update').css('cursor', 'pointer');
            }
        });

        jQuery('.k-grid-update').click(function () {
            var luEtEffectue = jQuery(this).parents('.k-edit-form-container').find('#LuEtDecadenasse');
            if (luEtEffectue.prop("checked") == false) {
                jQuery("#DateFin").prop("disabled", true);
                jQuery("#DateFin").css("background", "lightgrey");
                jQuery('.k-grid-update').css('cursor', 'initial');
            } else if (luEtEffectue.prop("checked") == true) {
                jQuery("#DateFin").prop("disabled", false);
                jQuery("#DateFin").css("background", "initial");
                jQuery('.k-grid-update').css('cursor', 'pointer');
            }
        });
    });
</script>