@model Previgesst.ViewModels.LigneRegistreViewModel
@using Previgesst.Ressources.Previcad


<div class="p-3">
    <div class="row">
        <div class="col-11">
            @Html.HiddenFor(model => model.FicheCadenassageId)
            @Html.HiddenFor(model => model.LigneRegistreId)
            @Html.HiddenFor(model => model.PendingSteps)

            <div class="form-group">
                @Html.LabelFor(model => model.BonDeTravail, new { @class = "form-label d-block" })


                @(Html.Kendo().TextBoxFor(model => model.BonDeTravail).HtmlAttributes(new { @class = "form-control w-100" }))
                @Html.ValidationMessageFor(model => model.BonDeTravail)
            </div>

            <div class="form-group mt-3">
                @Html.LabelFor(model => model.DateDebut, new { @class = "form-label d-block" })


                @(Html.Kendo().DateTimePickerFor(model => model.DateDebut).HtmlAttributes(new { @class = "form-control w-100" }))
                @Html.ValidationMessageFor(model => model.DateDebut)
            </div>

            <div class="form-group mt-3">
                @*@Html.LabelFor(model => model.FinPrevue, new { @class = "control-label" })*@
                @Html.Label(@PrevFicheRES.FinPrevue.Replace("<br>", " "), new { @class = "form-label d-block" })

                @(Html.Kendo().DateTimePickerFor(model => model.FinPrevue).HtmlAttributes(new { @class = "form-control w-100" }))
                @Html.ValidationMessageFor(model => model.FinPrevue)
            </div>

            <div class="form-group mt-3">
                @Html.LabelFor(model => model.DateFin, new { @class = "form-label d-block" })


                @(Html.Kendo().DateTimePickerFor(model => model.DateFin).HtmlAttributes(new { @class = "form-control w-100" }))
                @Html.ValidationMessageFor(model => model.DateFin)
            </div>

            <div class="form-group mt-3">

                @Html.Label(@PrevFicheRES.Details.Replace("<br>", " "), new { @class = "form-label d-block" })

                @(Html.TextAreaFor(model => model.Note, 3, 40, new { @class = "form-control w-100" }))
                @Html.ValidationMessageFor(model => model.Note)
            </div>

            @*<div class="form-group" style="margin-bottom:5px;">
                    @Html.Label(@PrevFicheRES.LuEtDecadenasse, new { @class = "control-label" })


                    @(Html.Kendo().CheckBoxFor(model => model.LuEtDecadenasse)
                    )
                    @Html.ValidationMessageFor(model => model.LuEtDecadenasse)
                </div>*@
        </div>
    </div>
</div>

<script>
    jQuery(document).ready(function () {
        "use strict";

        var pendingSteps = $('#PendingSteps').val();

        if (pendingSteps != "0") {
            jQuery('.k-grid-update').hide();
        }

        jQuery('.k-grid-update').removeClass('btn-edit').addClass('btn-mettre m-1');
        jQuery('.k-grid-cancel').removeClass('btn-edit').addClass('btn-Annuler m-1');

        if (jQuery('#LuEtDecadenasse').prop("checked") == false) {
            jQuery("#DateFin").prop("disabled", true);
            jQuery("#DateFin").css("background", "lightgrey");
            jQuery('.k-grid-update').css('cursor', 'initial');
        } else if (jQuery('#LuEtDecadenasse').prop("checked") == true) {
            jQuery("#DateFin").prop("disabled", false);
            jQuery("#DateFin").css("background", "initial");
            jQuery('.k-grid-update').css('cursor', 'pointer');
        }

        jQuery('#LuEtDecadenasse').click(function () {
            if (jQuery(this).prop("checked") == false) {
                jQuery("#DateFin").prop("disabled", true);
                jQuery("#DateFin").css("background", "lightgrey");
                jQuery('.k-grid-update').css('cursor', 'initial');
            } else if (jQuery(this).prop("checked") == true) {
                jQuery("#DateFin").prop("disabled", false);
                jQuery("#DateFin").css("background", "initial");
                jQuery('.k-grid-update').css('cursor', 'pointer');
            }
        });

        jQuery('.k-grid-update').click(function () {
            var luEtEffectue = jQuery(this).parents('.k-edit-form-container').find('#LuEtDecadenasse');
            if (luEtEffectue.prop("checked") == false) {
                jQuery("#DateFin").prop("disabled", true);
                jQuery("#DateFin").css("background", "lightgrey");
                jQuery('.k-grid-update').css('cursor', 'initial');
            } else if (luEtEffectue.prop("checked") == true) {
                jQuery("#DateFin").prop("disabled", false);
                jQuery("#DateFin").css("background", "initial");
                jQuery('.k-grid-update').css('cursor', 'pointer');
            }
        });
    });
</script>