@using Previgesst.Ressources
@using Previgesst.Ressources.Previcad

@model Previgesst.ViewModels.EmployeRegistreMobileViewModel

@{
    ViewBag.Title = "Fiche";
    Layout = "~/Views/Shared/_LayoutClientMobile.cshtml";
}

@*@Styles.Render("~/Content/csskendo")*@

<hidden id="ficheId"></hidden>


<main class="main-container-wrapper">
    <div class="main-container-content">
        <div class="main-section-tile">
            <h2>@PrevFicheRES.Equipement: @ViewBag.EquipmentName</h2>
        </div>
        <div class="main-section-content mt-2">
            <div class="row grid-action-toolbar">
                <span class="col-4 col-sm-4 form-action-toolbar mobile-small-font">@PrevFicheRES.NoFiche </span><span class="col-7 col-sm-7 work-action-toolbar mobile-small-font">@PrevFicheRES.Travaux</span>
            </div>
            <div class="previced-grid">
                @if (Model.Data != null)
                {
                    foreach (var item in Model.Data)
                    {
                        <div class="row bg-white td-round-left-border-small mobile-small-font">
                            <div class="col-4 col-sm-4">@item.NoFicheCadenassage</div>
                            <div class="col-7 col-sm-7">@item.TravailAEffectuer</div>
                            <div class="col-1 col-sm-1 p-0">

                                @if (Model.Employe.Langue == "fr")
                                {
                                    <a href='../../Registre/GetFiche/@item.FicheCadenassageId' title='@PrevFicheRES.Telecharger'><img src="/content/v2/images/download.svg" class='grid-download-icon'></a>
                                }
                                else
                                {
                                    <a href='../../Registre/GetFicheEN/@item.FicheCadenassageId' title='@PrevFicheRES.Telecharger'><img src="/content/v2/images/download.svg" class='grid-download-icon'></a>
                                }

                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</main>

@*
    <div class="col-md-12 dt-row">
                                <div class="dt-col">@item.NoFicheCadenassage</div>
                                <div class="dt-col">@item.TravailAEffectuer</div>
                                <div class="dt-col d-flex">


                                    @if (Model.Employe.Langue == "fr")
                                    {
                                        <a href='../../Registre/GetFiche/@item.FicheCadenassageId' title='@PrevFicheRES.Telecharger'><img src="/content/v2/images/download.svg" class='grid-download-icon'></a>
                                    }
                                    else
                                    {
                                        <a href='../../Registre/GetFicheEN/@item.FicheCadenassageId' title='@PrevFicheRES.Telecharger'><img src="/content/v2/images/download.svg" class='grid-download-icon'></a>
                                    }

                                </div>
                            </div>

*@

@*


    <section>
        <div class="container-fluid white-light-bg rounded-2 mt-3 mt-md-3">
            <div class="text-center p-3 p-md-5" style="overflow: scroll">
                <h3 class="fw-bold heading-color">@PrevIndexRES.MobileGridTile</h3>
                <h4>@PrevFicheRES.Equipement: @ViewBag.EquipmentName</h4>

                <div class="row mt-4">
                    <div class="col-12 p-0">

                        @Html.AntiForgeryToken()

                        @(Html.Kendo().Grid<LigneRegistreViewModel>()
                            .Name("list")
                            .Columns(columns =>
                            {
                                columns.Bound(e => e.EquipementId).Hidden();
                                columns.Bound(e => e.FicheCadenassageId).Hidden();

                                columns.Bound(c => c.NoFicheCadenassage).Title(PrevFicheRES.NoFiche).HtmlAttributes(new { @class = "text-start" }).Width(50);

                                columns.Bound(e => e.TravailAEffectuer).Title(PrevFicheRES.Travaux).ClientTemplate("").HtmlAttributes(new { @class = "text-start" });
                                columns.Bound(e => e.FicheCadenassageId).ClientTemplate("<a  href='../../Registre/GetFiche/#= " + nameof(LigneCadenassageGridViewModel.FicheCadenassageId) + "#'  class='downloadButton text-decoration-none' style='text-align:center' title=" + PrevFicheRES.Telecharger + "><i class='ri-file-download-line'></i></a>").Title("").Filterable(false).Sortable(false).Hidden( @Model.Langue!="fr").Width(30);
                                columns.Bound(e => e.FicheCadenassageId).ClientTemplate("<a  href='../../Registre/GetFicheEN/#= " + nameof(LigneCadenassageGridViewModel.FicheCadenassageId) + "#'  class='downloadButton text-decoration-none' title=" + PrevFicheRES.Telecharger + "><i class='ri-file-download-line'></i></a>").Title("").Filterable(false).Sortable(false).Hidden(@Model.Langue !="en").Width(30);
                            })

                            .Sortable(s => s.AllowUnsort(false))

                            .DataSource(ds => ds
                                .Ajax()
                                .Model(m => { m.Id(e => e.FicheCadenassageId); })
                                .Read(r => r.Action("ReadListFiches", "RegistreMobile", new { client = Model.ClientId, equipment = ViewBag.EquipmentID }))
                            )
                        )

                    </div>
                </div>
            </div>
        </div>
    </section>

    @section scripts{
        @Scripts.Render("~/bundles/kendo")
    }
*@
