@using Previgesst.Ressources
@using Previgesst.Ressources.Previcad

@model Previgesst.ViewModels.EmployeRegistreViewModel

@{
    ViewBag.Title = "Fiche";
    Layout = "~/Views/Shared/_LayoutClientMobile.cshtml";
}

@Styles.Render("~/Content/csskendo")

<section>
    <div class="container-fluid white-light-bg rounded-2 mt-3 mt-md-3">
        <div class="text-center p-3 p-md-5" style="overflow: scroll">
            <h3 class="fw-bold heading-color">@PrevIndexRES.Fiches</h3>

            <div class="row mt-4">
                <div class="col-12">

                    @Html.AntiForgeryToken()

                    @(Html.Kendo().Grid<LigneRegistreViewModel>()
                        .Name("list")
                        .Columns(columns =>
                        {
                            columns.Bound(e => e.EquipementId).Hidden();
                            columns.Bound(e => e.FicheCadenassageId).Hidden();

                            columns.Bound(c => c.NoFicheCadenassage).Title(PrevFicheRES.NoFiche).Width(40);

                            columns.Bound(e => e.NomEquipement).Title(PrevFicheRES.Equipement).Width(140);
                            columns.Bound(e => e.NomDepartement).Title(PrevFicheRES.Departement).Width(110);

                            columns.Bound(e => e.TitreFiche).Title(PrevFicheRES.Type).ClientTemplate("").Width(70);
                            columns.Bound(e => e.TravailAEffectuer).Title(PrevFicheRES.Travaux).ClientTemplate("").Width(140);
                            columns.Bound(e => e.FicheCadenassageId).ClientTemplate("<a  href='../../Registre/GetFiche/#= " + nameof(LigneCadenassageGridViewModel.FicheCadenassageId) + "#'  class='downloadButton text-decoration-none' style='text-align:center' title=" + PrevFicheRES.Telecharger + "><i class='ri-file-download-line'></i></a>").Title("").Filterable(false).Sortable(false).Hidden( @Model.Langue!="fr").Width(50);
                            columns.Bound(e => e.FicheCadenassageId).ClientTemplate("<a  href='../../Registre/GetFicheEN/#= " + nameof(LigneCadenassageGridViewModel.FicheCadenassageId) + "#'  class='downloadButton text-decoration-none' title=" + PrevFicheRES.Telecharger + "><i class='ri-file-download-line'></i></a>").Title("").Filterable(false).Sortable(false).Hidden(@Model.Langue !="en").Width(50);
                        })

                        .Sortable(s => s.AllowUnsort(false))

                        .DataSource(ds => ds
                            .Ajax()
                            .Model(m => { m.Id(e => e.FicheCadenassageId); })
                            .Read(r => r.Action("ReadListFiches", "RegistreMobile", new { client = Model.ClientId, equipment = ViewBag.EquipmentID }))
                        )
                    //.Events(e=>e.DataBound("dataBoundFiches"))
                    )

                </div>
            </div>
        </div>
    </div>
</section>

<hidden id="ficheId"></hidden>

@section scripts{
    @Scripts.Render("~/bundles/kendo")
}