@using Previgesst.Ressources
@using System.Threading

@model  ClientAccessVM
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutClient_v2.cshtml";

    string nomUtilisateur = "Prénom<br /> de l'administrateur";
}

@if (Request.IsAuthenticated)
{
    Previgesst.Sessions.sessionInfo session = (Previgesst.Sessions.sessionInfo)Session["utilisateur"];
    nomUtilisateur = session?.Nom;

    if (HttpContext.Current.Session["EmployeCadenassage"] != null)
    {
        EmployeRegistreViewModel employe = (EmployeRegistreViewModel)HttpContext.Current.Session["EmployeCadenassage"];
        nomUtilisateur = employe.Nom;
    }
}


<main class="main-container-wrapper">
    <div class="main-container container">
        <div class="main-heading ">
            <h1> @LayoutRES.Welcome, <span style="color:#329FFD;">@Html.Raw(nomUtilisateur)</span></h1>
        </div>
        <div class="main-subheading">
            <img src="/content/v2/images/i-icon.png">
            <p> Espace pour message personnalisé à vos clients - Vide s’il y a rien. </p>
        </div>
        <div class="row previcad-main-cards">
            <div class="col-md-5 card">
                <div class="card-wrapper card-wrapper-link" onclick='window.location="@string.Format("/{0}/MesApplications/GetClientCadenassage", Thread.CurrentThread.CurrentCulture.TwoLetterISOLanguageName)"'>
                    <img class="card-top-img" src="/content/v2/images/1.png" alt="badge">
                    <div class="previcad-card-icons">
                        <img src="/content/v2/images/icn1.png" class="icn" alt="badge">
                    </div>
                    <h4>Cadenassage</h4>
                    
                    <div class="card-enter-arrow">Enter <img src="/content/v2/images/arw.svg"></div>
                </div>
            </div>

            <div class="col-md-5 card ml-5">
                <div class="card-wrapper card-wrapper-link" onclick='window.location = "@string.Format("/{0}/MesApplications/GetClientAnalyse", Thread.CurrentThread.CurrentCulture.TwoLetterISOLanguageName)"'>
                    <img class="card-top-img" src="/content/v2/images/2.png" alt="badge">
                    <div class="previcad-card-icons">
                        <img src="/content/v2/images/icn2.png" class="icn" alt="badge">
                    </div>
                    <h4>
                        Analyse de risque
                        en sécurité
                    </h4>
                    
                </div>
            </div>
        </div>

        <div class="row autries-action-wrapper">
            <div class="col col-md-11">
                <div class="autries-actions horizontal-oriented-actions">
                    <div class="autries-title">Autries Actions</div>
                    <ul>
                        <li>
                            <div class="autries-actions-icon">
                                <img src="/content/v2/images/gest.svg">
                            </div>
                            <div class="autries-actions-title">
                                <a class="link-no-style" target="_blank" href="~/@Thread.CurrentThread.CurrentCulture.TwoLetterISOLanguageName/Client/Details?id=@ViewBag.idClient">
                                    Gestion des administration
                                </a>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</main>





@*
    <div class="container">

        <div class="row">

            <div class="col-md-12">

                <div class="container-fluid">
                    <hr />
                    @Html.Raw(File.ReadAllText(Server.MapPath("~/Notification/Notifier.html")))

                    <div class="row">

                        @if (Model.AccessDocuments)
                        {
                            <div class="col-md-4">
                                <a href="~/@Thread.CurrentThread.CurrentCulture.TwoLetterISOLanguageName/SCDocuments/Index" target="_blank" style="text-decoration:none;">
                                    <div class="panel panel-danger">
                                        <div class="panel-body"><img src="~/Images/Images2019/documents.jpg" class="img-responsive center-block" /></div>
                                    </div>
                                </a>
                            </div>
                        }
                        else

                        {
                            <div class="col-md-4">
                                <a href="#" style="text-decoration:none;">
                                    <div class="panel panel-danger">
                                        <div class="panel-body"><img src="~/Images/Images2019/documents_grisé.jpg" class="img-responsive center-block" /></div>
                                    </div>
                                </a>
                            </div>
                        }


                        <div class="col-md-4">
                            @if (Model.AccessCadenassage)
                            {
                                <a href="~/@Thread.CurrentThread.CurrentCulture.TwoLetterISOLanguageName/MesApplications/GetClientCadenassage" target="_blank" style="text-decoration:none;">
                                    <div class="panel panel-danger">
                                        <div class="panel-body">

                                            <img src="~/Images/Images2019/Previcad.jpg" class="img-responsive center-block" />

                                        </div>
                                    </div>
                                </a>
                            }
                            else
                            {
                                <a href="#" style="text-decoration:none;">
                                    <div class="panel panel-danger">
                                        <div class="panel-body">
                                            <img src="~/Images/Images2019/Previcad_grisé.jpg" class="img-responsive center-block" />
                                        </div>
                                    </div>
                                </a>
                            }


                        </div>
                        @if (Model.AccessAnalyse)
                        {
                            <div class="col-md-4">
                                <a href="~/@Thread.CurrentThread.CurrentCulture.TwoLetterISOLanguageName/MesApplications/GetClientAnalyse" target="_blank" style="text-decoration:none;">
                                    <div class="panel panel-danger">
                                        <div class="panel-body"><img src="~/Images/Images2019/Analyse-risque.jpg" class="img-responsive center-block" /></div>
                                    </div>
                                </a>
                            </div>
                        }
                        else
                        {
                            <div class="col-md-4">
                                <a href="#" style="text-decoration:none;">
                                    <div class="panel panel-danger">
                                        <div class="panel-body"><img src="~/Images/Images2019/Analyse-risque_grisé.jpg" class="img-responsive center-block" /></div>
                                    </div>
                                </a>
                            </div>
                        }


                    </div>


                    @if (Model.AccessUtilisateurs)
                    {

                        <hr />
                        <div class="row">




                            <div class="col-md-2">
                                <a target="_blank" href="~/@Thread.CurrentThread.CurrentCulture.TwoLetterISOLanguageName/Client/Details?id=@ViewBag.idClient" style="text-decoration:none;">
                                    <div class="panel panel-danger">
                                        <div class="panel-body"><img src="~/Images/Images2019/Utilisateurs.jpg" class="img-responsive center-block" /></div>
                                    </div>
                                </a>
                            </div>


                        </div>
                    }

                </div>
            </div>
        </div>
    </div>

*@