@using Previgesst.Ressources
@using Previgesst.Ressources.Cadenassage
@model Previgesst.ViewModels.EditCadenassageViewModel


<div class="table-top-header">
    <div class="page-title d-flex justify-content-center align-items-center">
        <h3 class="m-0">@CadEditRES.Departements</h3>
    </div>
    <div class="page-table-meta">
        <div class="add-icon">
            <a id="btnAddDep">
                <img src="/content/v2/images/plus-icon.svg" />
            </a>
        </div>
    </div>
</div>


@Html.AntiForgeryToken()

@(Html.Kendo().Grid<DepartementViewModel>()
            .Name("listDEPT")
            .Columns(columns =>
            {
                columns.Bound(e => e.DepartementId).Hidden();

                columns.Bound(c => c.NomDepartement)//.EditorTemplateName("MyView")
                    .Filterable(f => f.Extra(false).Operators(operators => operators
                    .ForString(str => str.Clear()
                    .Contains(GridRES.Contains)
                    .StartsWith(GridRES.StartsWith)
                    .IsEqualTo(GridRES.Egale)
                    .IsNotEqualTo(GridRES.NotEquals)
                )))
                .HtmlAttributes(new { @class = "td-round-left-border" })
                ;

                columns.Bound(c => c.NomDepartementEN)//.EditorTemplateName("MyView")
                    .Filterable(f => f.Extra(false).Operators(operators => operators
                    .ForString(str => str.Clear()
                    .Contains(GridRES.Contains)
                    .StartsWith(GridRES.StartsWith)
                    .IsEqualTo(GridRES.Egale)
                    .IsNotEqualTo(GridRES.NotEquals)
                )));

                columns.Command(c =>
                {
                    c.Edit().HtmlAttributes(new { @class = "btn-table btn-edit me-5" });
                    c.Custom(CadDeptRES.Vide)
                    .Click("ConfirmDeleteRowDEPT")
                    .HtmlAttributes(new { @class = "k-grid-effacer btn-del" });
                }
                ).Width("300px");
            })
            .Sortable(s => s.AllowUnsort(false))
            .Pageable(s => s.PageSizes(true).PageSizes(new List<int> { 5, 10 }).Input(true).Info(false).Numeric(false))
            .Filterable()

            .DataSource(ds => ds
                .Ajax()
                .PageSize(10).Sort(x => x.Add(c => c.NomDepartement))
                .Model(m =>
                {
                    m.Id(e => e.DepartementId);
                    m.Field(e => e.Suppressible).DefaultValue(true);
                })
                .Read(r => r.Action("ReadListDepartement", "Departement", new { client = Model.ClientId }))
                .Create(c => c.Action("SaveDepartement", "Departement", new { client = Model.ClientId }))
                .Update(u => u.Action("SaveDepartement", "Departement", new { client = Model.ClientId }))
                .Destroy(d => d.Action("DeleteDepartement", "Departement"))
                .Events(e => e.Error("ListeErreurDEPT").RequestEnd("EndDept"))
            )
            .Events(e => e.DataBound("ListeDataBoundDEPT").Edit("Edit"))
            .Editable(e => e
                .Mode(GridEditMode.InLine)
                .CreateAt(GridInsertRowPosition.Top)
                .DisplayDeleteConfirmation(false)
            )
            .ToolBar(t =>
            {
                t.Create().HtmlAttributes(new { @class = "d-none btn-test" });
            })

            .Scrollable()
            .HtmlAttributes(new { @class = "k-grid-height" })
        )


<script type="text/javascript">


    @*
    $("#Dep").click(function () {

       $("#listDEPT").find("a.k-grid-add").removeClass("k-button  k-button-icontext");
        $("#listDEPT").find("a.k-grid-add").addClass("btn btn-success btn-test ");
        $("#listDEPT").find("span.k-add").removeClass("k-icon");
        $("#listDEPT").find("a.btn-test").text("@CadDeptRES.Ajouter");


        // ADD ICONE "+"
        setTimeout(function(){ $("#listDEPT").find(".btn-success").append('<img class="addButtonImg" src="/Images/addWhite.png">'); }, 50);
    });
    *@

    function EndDept(e) {


    }



    function ConfirmDeleteRowDEPT(e) {
        e.preventDefault();

        var grid = this;
        var row = $(e.currentTarget).closest("tr");
        var dataItem = this.dataItem(row);

        ShowDeleteConfirm(dataItem.NomDepartement, function (args) {
            if (args.confirmed === true) {
                grid.removeRow(row);
            }
        });
    }



    function ListeErreurDEPT(args) {
        var selecteurGrid = "#listDEPT";
        if (args.errors) {
            var grid = $(selecteurGrid).data("kendoGrid");
            var validationTemplate = kendo.template($("#gridValidationMessageTemplate").html());
            grid.one("dataBinding", function (e) {
                e.preventDefault();

                $.each(args.errors, function (propertyName) {
                    var errorList = validationTemplate({ field: propertyName, messages: this.errors });
                    ShowNotification("@CadDeptRES.Erreur",
                        errorList,
                        "errorListTemplate");
                });
            });
        }
        else if (args.xhr) {
            ShowGridError("@Html.Raw(CadDeptRES.Erreur)", selecteurGrid, args, "@Html.Raw(LayoutRES.LinkedEntityError)");
        }
    }

    function ListeDataBoundDEPT(e) {
        //var selecteurGrid = "#listDEPT";
        //var grid = $(selecteurGrid).data("kendoGrid");


        //$(selecteurGrid + " .k-grid-effacer").find("span").addClass("k-icon k-delete");



        ////Selects all delete buttons
        //$(selecteurGrid + " tbody tr .k-grid-effacer").each(function () {
        //    var currentDataItem = grid.dataItem($(this).closest("tr"));

        //    //Check in the current dataItem if the row is deletable
        //    if (!currentDataItem.Suppressible) {

        //        $(this).remove();
        //    }
        //})
    }


    $('#btnAddDep').click(function () {
        $("#Departements").find("a.k-grid-add").click();
    });

</script>
