@using Previgesst.Ressources.Cadenassage
@model Previgesst.ViewModels.EditFicheViewModel


@{
    ViewBag.Title = "Edit";
    //Layout = "~/Views/Shared/_Layout_v2.cshtml";

    if (ViewData["Layout"] != null)
    {
        Layout = (string)ViewData["Layout"];
    }
}


@section styles{
    <link href="~/Content/kendo/2016.2.714/kendo.common-bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/kendo/2016.2.714/kendo.bootstrap.min.css" rel="stylesheet" />

    <link href="~/Content/kendo/2016.2.714/kendo.dataviz.min.css" rel="stylesheet" />
    <link href="~/Content/kendo/2016.2.714/kendo.dataviz.bootstrap.min.css" rel="stylesheet" />

    <link href="~/Content/v2/grid-override.css" rel="stylesheet" />
}


@section sidebar{

    <ul class="nav flex-column sidebar-nav" role="tablist">
        <li class="nav-item text-center mt-2">
            <a class="nav-link home-navlink" role="tab" href='@Url.Action("Index", "MesApplications")'>
                <img src="/content/v2/images/icon-home.png"><p class="nav-link-text">Accueil</p>
            </a>
        </li>

        <li class="nav-item text-center active">
            <a class="nav-link home-navlink" href="#InfosGenerales" aria-controls="general" role="tab" data-toggle="tab" data-bs-toggle="tab">
                <img src="/content/v2/images/left-icon-12.svg" title="@CadEditFicheRES.InformationsGenerales" />
                <p class="nav-link-text">@CadEditFicheRES.InformationsGenerales</p>
            </a>
        </li>

        @if (Model.FicheCadenassageId != 0)
        {
            <li class="nav-item text-center">
                <a class="nav-link home-navlink" id="MatFich" href="#Materiel" aria-controls="pratiques" role="tab" data-toggle="tab" data-bs-toggle="tab">
                    <img src="/content/v2/Images/left-icon13.svg" title="@CadEditFicheRES.MaterielRequis" />
                    <p class="nav-link-text">@CadEditFicheRES.MaterielRequis</p>
                </a>
            </li>



            <li class="nav-item text-center">
                <a class="nav-link home-navlink" href="#Sources" aria-controls="pratiques" role="tab" data-toggle="tab" data-bs-toggle="tab">
                    <img src="/content/v2/Images/left-icon14.svg" title="@CadEditFicheRES.SourcesEnergie" />
                    <p class="nav-link-text">@CadEditFicheRES.SourcesEnergie</p>
                </a>
            </li>

            <li class="nav-item text-center">
                <a class="nav-link home-navlink" id="ImageCadFich" href="#ImagesFiche" aria-controls="pratiques" role="tab" data-toggle="tab" data-bs-toggle="tab">
                    <img src="/content/v2/Images/left-icon15.svg" title="@CadEditFicheRES.Images" />
                    <p class="nav-link-text">@CadEditFicheRES.Images</p>
                </a>
            </li>



            <li class="nav-item text-center">
                <a class="nav-link home-navlink" id="EtapCadFich" href="#Cadenassage" aria-controls="pratiques" role="tab" data-toggle="tab" data-bs-toggle="tab">
                    <img src="/content/v2/images/Procédures.svg" title="@CadEditFicheRES.EtapesCadenassage" />
                    <p class="nav-link-text">@CadEditFicheRES.EtapesCadenassage</p>
                </a>
            </li>

            <li class="nav-item text-center">
                <a class="nav-link home-navlink" id="EtapdecFich" href="#Decadenassage" aria-controls="pratiques" role="tab" data-toggle="tab" data-bs-toggle="tab">
                    <img src="/content/v2/images/left-icon20.svg" title="@CadEditFicheRES.EtapesDecadenassage" />
                    <p class="nav-link-text">@CadEditFicheRES.EtapesDecadenassage</p>
                </a>
            </li>

            <li class="nav-item text-center">
                <a class="nav-link home-navlink" id="DocFicheCadenassage" href="#DocFiche" aria-controls="pratiques" role="tab" data-toggle="tab" data-bs-toggle="tab">
                    <img src="/content/v2/images/left-icon2.svg" title="@CadEditFicheRES.Documents" />
                    <p class="nav-link-text">@CadEditFicheRES.Documents</p>
                </a>
            </li>

        }

    </ul>
}


<main class="main-container-wrapper page-container">
    <div class="breadcrumbs-nav-wrapper">
        <ul class="breadcrumbs">
            <li><a href='@Url.Action("Index", "MesApplications")'>Accueil</a></li>
            <li><a href="~/@System.Threading.Thread.CurrentThread.CurrentCulture.TwoLetterISOLanguageName/FicheCadenassage/Edit/@Model.ClientId">@CadEditRES.TitreSectionCadenassage</a></li>

            @if (Model.FicheCadenassageId == 0)
            {
                <li class="active" aria-current="page">@CadEditFicheRES.CreationFiche</li>
            }
            else
            {
                <li class="active" aria-current="page">@CadEditFicheRES.EditionFiche @Model.NoFiche</li>
            }
        </ul>
    </div>

    <div class="main-page-content">


                <div class="tab-content">

                    @if (!Model.DisplaySourceTab)
                    {
                        <div id="InfosGenerales" class="tab-pane active">
                            @Html.Partial("SectionInfoGenerales", @Model)
                        </div>
                    }
                    else
                    {
                        <div id="InfosGenerales" class="tab-pane active">
                            @Html.Partial("SectionInfoGenerales", @Model)
                        </div>
                    }


                    @if (Model.FicheCadenassageId != 0)
                    {

                        <div id="Materiel" class="tab-pane">
                            @Html.Partial("SectionMateriel", @Model)

                        </div>



                        if (Model.DisplaySourceTab)
                        {
                            <div id="Sources" class="tab-pane">
                                @Html.Partial("SectionSources", new SourceEnergieCadenassageViewModel{ FicheCadenassageId = Model.FicheCadenassageId, SourcesEnergieId = Model.SourcesEnergieId })
                            </div>
                        }
                        else
                        {
                            <div id="Sources" class="tab-pane">
                                @Html.Partial("SectionSources", new SourceEnergieCadenassageViewModel { FicheCadenassageId = Model.FicheCadenassageId, SourcesEnergieId = Model.SourcesEnergieId })
                            </div>
                        }

                        <div id="ImagesFiche" class="tab-pane">
                            @Html.Partial("SectionImages", @Model)

                        </div>


                        <div id="Cadenassage" class="tab-pane">
                            @Html.Partial("SectionLignesCadenassage", @Model)

                        </div>

                        <div id="Decadenassage" class="tab-pane">

                            @Html.Partial("SectionLignesDecadenassage", @Model)

                        </div>

                        <div id="DocFiche" class="tab-pane">

                            @Html.Partial("SectionDocuments", @Model)

                        </div>
                    }
                </div>




        @*<a class='shieldLogoCadenassage' href='@if (this.Layout.EndsWith("_Layout.cshtml")) { @Url.Action("Index", "AdminPrevi") } else { @Url.Action("Index", "MesApplications") } '><img src='/Images/dark_logo.png'></a>*@

    </div>

</main>

<script type="text/javascript">



    if(jQuery('.tryDone').length) {
        jQuery('.btn-primary').css('display', 'none');
        jQuery('body .panel-danger:first-child').css('opacity', '.3');
    }

    function GetUpdateInfo() {
        var id = '@Model.FicheCadenassageId';


        $.ajax({
            url: '/FicheCadenassage/GetUpdateInfo?id=' + id,
            type: "GET",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (result) {
                console.log(result);

                if (result.Success == "1") {
                    //UpdatedPar
                    if ($('#UpdatedPar') != undefined) { $('#UpdatedPar').val(result.UpdatedPar); }
                    if ($('#DateUpdated') != undefined) { $('#DateUpdated').val(result.DateUpdated); }
                }
            },
            error: function (data) {
                ShowNotification("@CadSourcesRES.Erreur", "@CadSourcesRES.SourcePasEnregistrees", "errorTemplate")
            }
        });
    }



    //// Example starter JavaScript for disabling form submissions if there are invalid fields
    //(function () {
    //    'use strict'

    //    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    //    var forms = document.querySelectorAll('.needs-validation')

    //    // Loop over them and prevent submission
    //    Array.prototype.slice.call(forms)
    //        .forEach(function (form) {
    //            form.addEventListener('submit', function (event) {
    //                if (!form.checkValidity()) {
    //                    event.preventDefault()
    //                    event.stopPropagation()
    //                }

    //                form.classList.add('was-validated')
    //            }, false)
    //        })
    //})()
</script>
