@using Previgesst.Ressources
@using Previgesst.Ressources.Cadenassage

@model Previgesst.ViewModels.EditCadenassageViewModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout_v2.cshtml";

    //if (ViewData["Layout"] != null)
    //{
    //    Layout = (string)ViewData["Layout"];
    //}
}


@section styles{
    <link href="~/Content/kendo/2016.2.714/kendo.common-bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/kendo/2016.2.714/kendo.bootstrap.min.css" rel="stylesheet" />

    <link href="~/Content/kendo/2016.2.714/kendo.dataviz.min.css" rel="stylesheet" />
    <link href="~/Content/kendo/2016.2.714/kendo.dataviz.bootstrap.min.css" rel="stylesheet" />

    <link href="~/Content/v2/grid-override.css" rel="stylesheet" />
    <link href="~/Content/v2/buttons.css" rel="stylesheet" />
}


@section sidebar{

    <ul class="nav flex-column sidebar-nav" role="tablist">
        <li class="nav-item text-center mt-2">
            <a class="nav-link home-navlink" role="tab" data-toggle="tab" href='@if (this.Layout.EndsWith("_Layout.cshtml")) { @Url.Action("Index", "AdminPrevi") } else { @Url.Action("Index", "MesApplications") }'>
                <img src="/content/v2/images/icon-home.png" /><p class="nav-link-text">@LayoutRES.Accueil</p>
            </a>
        </li>

        <li class="nav-item text-center active">
            <a class="nav-link home-navlink" role="tab" data-toggle="tab" data-bs-toggle="tab" href="#Fiches" id="Fich">
                <img src="/content/v2/images/Procédures.svg">
                <p class="nav-link-text">@CadEditRES.FichesCadenassage</p>
            </a>
        </li>
        <li class="nav-item text-center">
            <a class="nav-link home-navlink" role="tab" data-toggle="tab" data-bs-toggle="tab" href="#Equipements" id="Equip">
                <img src="/content/v2/images/equiment.svg"><p class="nav-link-text">@CadEditRES.MenuEquipment</p>
            </a>
        </li>
        <li class="nav-item text-center">
            <a class="nav-link home-navlink" role="tab" data-toggle="tab" data-bs-toggle="tab" href="#Departements" id="Dep">
                <img src="/content/v2/images/departments.svg"><p class="nav-link-text">@CadEditRES.MenuDepartment</p>
            </a>
        </li>
        <li class="nav-item text-center">
            <a class="nav-link home-navlink" role="tab" data-toggle="tab" data-bs-toggle="tab" href="#EmployesCadenassage" id="Emp">
                <img src="/content/v2/images/gest.svg"><p class="nav-link-text">@CadEditRES.Employes</p>
            </a>
        </li>
        <li class="nav-item text-center">
            <a class="nav-link home-navlink" role="tab" data-toggle="tab" data-bs-toggle="tab" href="#RegistreCadenassage" id="Registre">
                <img src="/content/v2/images/registre.svg"><p class="nav-link-text">@CadEditRES.Registre</p>
            </a>
        </li>
        <li class="nav-item text-center">
            <a class="nav-link home-navlink" role="tab" data-toggle="tab" data-bs-toggle="tab" href="#DocClients" id="DocCli">
                <img src="/content/v2/images/attach.svg"><p class="nav-link-text">@CadEditRES.Programme</p>
            </a>
        </li>

    </ul>
}

@section sidebarChilds{
    <li><a class="submenu-dropdown-item" href="#Previcad" role="tab" data-toggle="tab" data-bs-toggle="tab">@CadEditRES.MenuUtilisateur</a></li>
    <li><a class="submenu-dropdown-item" href="#CadParamAdmin">@CadEditRES.MenuPreferences</a></li>
}


<main class="main-container-wrapper page-container">
    <div class="breadcrumbs-nav-wrapper">
        <ul class="breadcrumbs">
            <li><a href='@Url.Action("Index", "MesApplications")'>@LayoutRES.Accueil</a></li>
            <li class="active">@CadEditRES.TitreSectionCadenassage</li>
        </ul>
    </div>

    <div class="main-page-content">

        <div class="tab-content">

            <div id="Fiches" class="tab-pane active">
                @Html.Partial("Fiches", @Model)
            </div>

            <div id="Equipements" class="tab-pane">
                @Html.Partial("Equipements", @Model)
            </div>

            <div id="Departements" class="tab-pane">

                @Html.Partial("Departements", @Model)
            </div>

            <div id="EmployesCadenassage" class="tab-pane">

                @Html.Partial("EmployesCadenassage", @Model)
            </div>

            <div id="RegistreCadenassage" class="tab-pane">
                @Html.Partial("Registre", @Model)
            </div>

            <div id="DocClients" class="tab-pane">
                @Html.Partial("DocClients", @Model)
            </div>




            <div id="Previcad" class="tab-pane">
                @Html.Partial("Previcad", @Model)
            </div>

            <div id="CadParamAdmin" class="tab-pane">
                @Html.Partial("CadParamAdmin", @Model)
            </div>

        </div>
    </div>
</main>

@section scripts{
    <script type="text/javascript">
    /*
        // White background for the body ID
        jQuery('#body').css('background', '#FFF');

        // Get and inject the li name selected
        jQuery(document).on('click', '.nav-tabs li', function () {
            let liSelected = jQuery(this).find('.icon-noactive').attr('title');
            jQuery('.currentTitleCadenassage').html(liSelected);
        });

        // HIDE CURRENT LOGO
        jQuery('.content-wrapper .float-left img').css('display', 'none');
    */
        //function GridResize() {
        //    var windowHeight = $(window).height();
        //    var gridHeight = $('.fix-grid-height').find('.k-grid-content').height();

        //    var newHeight = windowHeight - 500;
        //    newHeight = 300 > newHeight ? 300 : newHeight;


        //    console.log('windowHeight', windowHeight, 'k-grid-content', gridHeight, 'new height', newHeight);

        //    $('.fix-grid-height').find('.k-grid-content').attr('style', 'height:' + newHeight + 'px !important;');

        //    $('#lblResolution').text($(window).width() + 'x' + $(window).height());
        //}

        //$(document).ready(GridResize);
        //$(window).resize(GridResize);

        $(document).ready(function () {
            ///////////////////////////////////////
            // navigate Equipement Articuloe to edit page, and select equipment tab

            var area = '@Request.QueryString["area"]';

            if (area != null && area.toUpperCase() == 'EQ') {
                $('#Equip').click();
            }

            ///////////////////////////////////////
        });
       
    </script>

}