@using Previgesst.Ressources
@using Previgesst.Ressources.Cadenassage
@model Previgesst.ViewModels.EditCadenassageViewModel

<style>
    .petit {
        max-height: 20px;
        width: 90%;
    }

    .k-multiselect {
        border: 1px solid #ccc;
        border-radius: 4px;
        width: 95%;
    }

    .eq-grid-class {
        background-color: transparent;
    }


    @@media screen and (max-width: 1400px) {
        .eq-grid-class {
            background-color: transparent;
            overflow-x: scroll;
        }

            .eq-grid-class table {
                transform: translate(10px);
            }
    }

</style>


<div class="panel panel-danger">

    @*<div class="panel-heading" style="font-
            size:larger;font-weight:500;background-color:#E39901;color:white">Équipements </div>
        <div class="panel-body">*@


    <div class="panel-heading back-panel-light" style="font-size:larger;font-weight:500;color:white"></div>

    <div class="panel-body">

        @*<a class="btn btn-info btn-print-qr" href="@Url.Action("PrintQR", "FicheCadenassage", new { @id = Model.ClientId })" style="position: absolute; top: 3px; left: 425px;" target="_blank">
                @CadEquipRES.PrintQRCode
            </a>*@

        <input type="button" class="btn btn-info btn-print-qr" style="position: absolute; top: 3px; left: 425px;" value="@CadEquipRES.PrintQRCode" />
        @*<div id="EqWithQR"></div>*@


        @Html.AntiForgeryToken()

        @(Html.Kendo().Grid<EquipementViewModel>()
                                .Name("listEquipement")
                                .HtmlAttributes(new { @class = "eq-grid-class fix-grid-height-na" })
                                .Columns(columns =>
                                {
                                    columns.Bound(e => e.EquipementId).Hidden();
                                    columns.Bound(e => e.QRCode).Hidden();

                                    //NomEquipement
                                    columns.Bound(c => c.NumeroEquipment)//.EditorTemplateName("MyView")
                                    .Filterable(f => f.Extra(false).Operators(operators => operators
                                        .ForString(str => str.Clear()
                                            .Contains(GridRES.Contains)
                                            .StartsWith(GridRES.StartsWith)
                                            .IsEqualTo(GridRES.Egale)
                                            .IsNotEqualTo(GridRES.NotEquals)
                                        )
                                    ));
                                    columns.Bound(c => c.NomEquipement)//.EditorTemplateName("MyView")
                                    .Filterable(f => f.Extra(false).Operators(operators => operators
                                        .ForString(str => str.Clear()
                                            .Contains(GridRES.Contains)
                                            .StartsWith(GridRES.StartsWith)
                                            .IsEqualTo(GridRES.Egale)
                                            .IsNotEqualTo(GridRES.NotEquals)
                                        )
                                    ));
                                    columns.Bound(c => c.NomEquipementEN)//.EditorTemplateName("MyView")
                                    .Filterable(f => f.Extra(false).Operators(operators => operators
                                        .ForString(str => str.Clear()
                                            .Contains(GridRES.Contains)
                                            .StartsWith(GridRES.StartsWith)
                                            .IsEqualTo(GridRES.Egale)
                                            .IsNotEqualTo(GridRES.NotEquals)
                                        )
                                    )); ;

                                    columns.Command(command => command.Custom("Détails").Click("showDetailsNew").Text(CadEquipRES.ButtonDetails)).Width(100);

                                    columns.Command(command => command.Custom("Énergie").Click("showDetailsEnergie").Text(CadEquipRES.ButtonEnergy)).Width(100);

                                    columns.Command(command => command.Custom("QR").Click("showDetailsQR").Text(CadEquipRES.ButtonQR)).Width(100);

                                    //columns.Bound(bt => bt.EquipementId).ClientTemplate("<a href='/EquipementArticuloe/Index/#= " + nameof(EquipementViewModel.EquipementId) + " #' class='btn btn-primary btn-edit-force k-cde-edit'></a>").Title("Énergie").Filterable(false).Sortable(false).Width(1).Hidden(!Model.estUpdate);

                                    columns.Bound(e => e.Thumbnail).ClientTemplate("# if(Thumbnail != null) {# <img src='#=Thumbnail#'/> #}#").EditorTemplateName("VideView").Title("").Filterable(false).Sortable(false);
                                    columns.Bound(e => e.Thumbnail).ClientTemplate("<input type=button onclick='changerImage(#=EquipementId#)' value='Image' class='cadenassageImageDownload'/>").EditorTemplateName("VideView").Title("").Filterable(false).Sortable(false).Width(80);
                                    columns.Command(c =>
                                    {
                                        c.Edit().Text("");
                                        c.Custom(CadEquipRES.Vide)
                                            .Click("ConfirmDeleteRowEQ")
                                            .HtmlAttributes(new { @class = "k-grid-effacer" });
                                    })
                                    .Width(50);
                                    columns.Bound(e => e.Model).Hidden();
                                    columns.Bound(e => e.Manufacturer).Hidden();
                                    columns.Bound(e => e.Task).Hidden();
                                    columns.Bound(e => e.RiskAnalysis).Hidden();
                                    columns.Bound(e => e.LockoutProcedure).Hidden();
                                    columns.Bound(e => e.SafeWorkProcedure).Hidden();
                                })
                                .Sortable(s => s.AllowUnsort(false))
                                .Pageable(s => s.PageSizes(true).PageSizes(new List<int> { 5, 10 }).Input(true).Info(false).Numeric(false))
                                .Filterable()
                                //.Scrollable()
                                //.AutoBind(false)
                                .DataSource(ds => ds
                                    .Ajax()
                                    .PageSize(10).Sort(x => x.Add(c => c.NomEquipement))
                                    .Model(m =>
                                    {
                                        m.Id(e => e.EquipementId);
                                        m.Field(e => e.Suppressible).DefaultValue(true);
                                        m.Field(e => e.Thumbnail).Editable(false);
                                    })
                                    .Read(r => r.Action("ReadListEquipement", "Equipement", new { client = Model.ClientId }))
                                    .Create(c => c.Action("SaveEquipement", "Equipement", new { client = Model.ClientId }))
                                    .Update(u => u.Action("SaveEquipement", "Equipement", new { client = Model.ClientId }))
                                    .Destroy(d => d.Action("DeleteEquipement", "Equipement"))
                                    .Events(e => e.Error("ListeErreurEQ"))
                                )
                                .Events(e => e
                                    .DataBound("ListeDataBoundEQ").Edit("Edit")
                                )
                                .Editable(e => e
                                    .Mode(GridEditMode.InLine)
                                    .CreateAt(GridInsertRowPosition.Top)
                                    .DisplayDeleteConfirmation(false)
                                )
                                .ToolBar(t =>
                                {
                                    t.Create();
                                })
                            )
    </div>
</div>




@(Html.Kendo().Window().Name("EqDetails")
        .Title(CadEquipRES.EquipmentMgmt)
        .Visible(false)
        .Modal(true)
        .Width(650)
)
@(Html.Kendo().Window().Name("QrDetails")
        .Title(@CadEquipRES.CreateEquipmentQR)
        .Visible(false)
        .Modal(true)
        .Width(250)
)
@(Html.Kendo().Window().Name("EqWithQR")
        .Title(CadEquipRES.SelectQRToPrint)
        .Visible(false)
        .Modal(true)
        .Width(600)
        .Height(650)
)


<script type="text/x-kendo-template" id="eqTemplate">
    <div id="details-contaner">

        <input type="hidden" id="EquipementId" value="#=EquipementId#" />


        <div class="form-group">
            <label for="Manufacturer">Fabricant</label>
            <input type="text" class="form-control petit" id="Manufacturer" name="Manufacturer" value="#= (Manufacturer == null) ? '' : Manufacturer #" />
        </div>

        <div class="form-group">
            <label for="Model">Modèle</label>
            <input type="text" class="form-control petit" id="Model" name="Model" value="#= (Model == null) ? '' : Model #" />
        </div>

        <div class="form-group">
            <label for="NumberOfSerie">Numéro de série</label>
            <input type="text" class="form-control petit" id="NumberOfSerie" name="NumberOfSerie" value="#= (NumberOfSerie == null) ? '' : NumberOfSerie #" />
        </div>

        <div class="form-group">
            <label for="YearOfProduction">Année de fabrication</label>
            <input type="text" class="form-control petit" id="YearOfProduction" name="YearOfProduction" value="#= (YearOfProduction == null) ? '' : YearOfProduction #" />
        </div>

        <div class="form-group">
            <label for="Function">Fonction</label>
            <input type="text" class="form-control petit" id="Function" name="Function" value="#= (Function == null) ? '' : Function #" />
        </div>

        <div class="form-group">
            <label for="Model">Tâches</label>
            <select id="Task" multiple="multiple" data-placeholder="Sélectionner des tâches">
                <option>Montage</option>
                <option>Installation</option>
                <option>D’ajustement</option>
                <option>Inspection</option>
                <option>Décoinçage</option>
                <option>Réglage</option>
                <option>Mise hors d’usage</option>
                <option>Entretien</option>
                <option>Désassemblage</option>
                <option>Nettoyage</option>
                <option>Maintenance</option>
                <option>Remise à neuf</option>
                <option>Réparation</option>
                <option>Modification ou de déblocage</option>
            </select>
        </div>

        <div class="form-group">
            <input type="checkbox" id="RiskAnalysis" name="RiskAnalysis" # if (RiskAnalysis) { # checked=\"checked\" # } # />
            <label for="RiskAnalysis">Analyse de risque complétée</label>
        </div>

        <div class="form-group">
            <input type="checkbox" id="LockoutProcedure" name="LockoutProcedure" # if (LockoutProcedure) { # checked=\"checked\" # } # />
            <label for="LockoutProcedure">Procédure de cadenassage complétée</label>
        </div>

        <div class="form-group">
            <input type="checkbox" id="SafeWorkProcedure" name="SafeWorkProcedure" # if (SafeWorkProcedure) { # checked=\"checked\" # } # />
            <label for="SafeWorkProcedure">Procédure de travail sécuritaire complétée</label>
        </div>

        <div class="form-group text-right">
            <a class="k-button k-button-icontext k-primary k-grid-update" onclick="SaveEquipementsInfo()">
                <span class="k-icon k-update"></span>Mettre à jour
            </a>

            <a class="k-button k-button-icontext k-grid-cancel" onclick="closeDetailsNew()">
                <span class="k-icon k-cancel"></span>Annuler
            </a>
        </div>

    </div>
</script>

<script type="text/x-kendo-template" id="qrTemplate">
    <div id="details-container-qr">

        <input type="hidden" id="EquipementId" value="#=EquipementId#" />


        <div class="form-group">
            <img class="img-responsive" id="QRCode" name="QRCode" style="width: 200px;" />
        </div>


        <div class="form-group text-right">
            <a class="k-button k-button-icontext k-primary k-grid-update" onclick="SaveQRInfo()">
                <span class="k-icon k-update"></span>Mettre à jour
            </a>

            <a class="k-button k-button-icontext k-grid-cancel" onclick="closeDetailsQR()">
                <span class="k-icon k-cancel"></span>Annuler
            </a>
        </div>

    </div>
</script>


<script type="text/javascript" charset="utf-8">

    var detailsTemplate;
    var energieTemplate;
    var qrCodeTemplate;

    $(document).ready(function () {
        detailsTemplate = kendo.template($("#eqTemplate").html());
        qrCodeTemplate = kendo.template($("#qrTemplate").html());
        //energieTemplate = kendo.template($("#engTemplate").html());

        $('.btn-print-qr').removeClass("k-button  k-button-icontext");
    });

    function showDetailsNew(e) {
        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var wind = $("#EqDetails").data("kendoWindow");

        wind.content(detailsTemplate(dataItem));
        wind.center().open();
        var multiselect = $('#details-contaner').find("#Task").kendoMultiSelect().data("kendoMultiSelect");

        if (dataItem.Task != null) {
            multiselect.value(dataItem.Task.split(','));
            multiselect.trigger("change");
        }
    }

    function closeDetailsNew() {
        $("#EqDetails").data("kendoWindow").close();
    }

    function SaveEquipementsInfo() {
        //if valid
        var model = {
            EquipementId: $('#details-contaner').find("#EquipementId").val(),
            Model: $('#details-contaner').find("#Model").val(),
            Manufacturer: $('#details-contaner').find("#Manufacturer").val(),
            NumberOfSerie: $('#details-contaner').find("#NumberOfSerie").val(),
            YearOfProduction: $('#details-contaner').find("#YearOfProduction").val(),
            Function: $('#details-contaner').find("#Function").val(),
            Task: $('#details-contaner').find("#Task").val().join(),
            RiskAnalysis: $('#details-contaner').find("#RiskAnalysis").is(':checked'),
            LockoutProcedure: $('#details-contaner').find("#LockoutProcedure").is(':checked'),
            SafeWorkProcedure: $('#details-contaner').find("#SafeWorkProcedure").is(':checked'),
        };

        console.log(model);

        $.ajax({
            url: '/Equipement/SaveEquipementNew/',
            type: 'POST',
            data: model,
            dataType: 'json',
            cache: false,
            success: function (result) {
                closeDetailsNew();
                $('#listEquipement').data('kendoGrid').dataSource.read();
            },
            error: function (req, status, errorObj) {
            }
        });
    }


    $("#Equip").click(function () {

        $("#listEquipement").find("a.k-grid-add").removeClass("k-button  k-button-icontext");
        $("#listEquipement").find("a.k-grid-add").addClass("btn btn-success btn-test");

        $("#listEquipement").find("span.k-grid-add").addClass("btn btn-success btn-test");

        $("#listEquipement").find("a.btn-test").text("@CadEquipRES.Ajouter");


        // ADD ICONE "+"
        setTimeout(function(){ $("#listEquipement").find(".btn-success").append('<img class="addButtonImg" src="/Images/addWhite.png">'); }, 50);
    });

    function showDetailsEnergie(e) {

        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));

        window.location.href = "/FicheCadenassage/EquipementArticuloes/" + dataItem.EquipementId + "?client=" + @Model.ClientId;
        @*var wind = $("#EngDetails").data("kendoWindow");

        wind.content(energieTemplate(dataItem));

        GetDropdownForPopup('#Energy', dataItem.Energy, '@Url.Action("GetListReadForMultiselect", "Listes", new { @iditem = Previgesst.Enums.TypeListe.sourceEnergie })');
        GetDropdownForPopup('#Deposit', dataItem.Deposit, '@Url.Action("GetListReadForMultiselect", "Listes", new { @iditem = Previgesst.Enums.TypeListe.dispositif })');
        GetDropdownForPopup('#Accessories', dataItem.Accessories, '@Url.Action("GetListReadForMultiselect", "Listes", new { @iditem = Previgesst.Enums.TypeListe.materiel })');

        GetGridForPopup('#gridEnergy', dataItem.EquipementId, '/Equipement/GetEquipementArticuloes');

        wind.center().open();*@
    }


    var imageWindow;
    var timer;
    function Edit(e)
    {
        var item = $(e.container).find('[value=Image]').hide();
        $(e.container).find('.k-grid-Détails').hide();
        $(e.container).find('.k-grid-Énergie').hide();
        $(e.container).find('.k-grid-QR').hide();

        e.container.find(".k-grid-cancel").bind("click", function () {
            //console.log(e);
            
            if (!e.model.Suppressible) {
                $('#listEquipement').data('kendoGrid').dataSource.read();
                /*

                var selecteurGrid = "#listEquipement";
                var grid = $(selecteurGrid).data("kendoGrid");

                var row = grid.tbody.find("tr[data-uid='" + e.model.uid + "']");


                //var currentDataItem = grid.dataItem($(this).closest("tr"));

                console.log(e);
                console.log('e.model.uid', e.model.uid);
                console.log('e.model.Suppressible', e.model.Suppressible);

                console.log('this', this);

                //console.log(row);
                //console.log(row.find(".k-grid-effacer"));

                //console.log(e.target.closest('tr'));

                //if (!currentDataItem.Suppressible) {
                //    //$(this).remove();
                //    //$(e.container.find(".k-grid-effacer")).remove();
                //    //$(this).closest("tr").find(".k-grid-effacer").remove();
                //    //console.log($(this).closest("tr"));
                //    //console.log($($(this).closest("tr")[0]));
                //    //console.log($($(this).closest("tr")[0]).find(".k-grid-effacer"));
                //}
                */
            }
        });
    }

    function changerImage(e) {

        var config = {
            path: '@Url.Content("~/upload/setEquipPic/")'
        };

        imageWindow = PopupCenter(config.path + e, "@CadEquipRES.ChangerImage", 600, 300);
        timer = setInterval(checkWindow, 100);
    }

    function showDetails(e) {

        var config = {
            path: '@Url.Content("~/FicheCadenassage/equipement/EditEquipement")'
        };

        imageWindow = PopupCenter(config.path + e, "@CadEquipRES.Details", 600, 600);
        timer = setInterval(checkWindow, 100);
    }

    function checkWindow()
    {
        if (imageWindow.closed) {

            $('#listEquipement').data('kendoGrid').dataSource.read();
            $("#myimg").removeAttr("src").attr("src", "/myimg.jpg");
            $('#listEquipement').data('kendoGrid').refresh();

                clearInterval(timer);
            }

    }

    function PopupCenter(url, title, w, h) {
        var userAgent = navigator.userAgent,
            mobile = function () {
                return /\b(iPhone|iP[ao]d)/.test(userAgent) ||
                    /\b(iP[ao]d)/.test(userAgent) ||
                    /Android/i.test(userAgent) ||
                    /Mobile/i.test(userAgent);
            },
            screenX = typeof window.screenX != 'undefined' ? window.screenX : window.screenLeft,
            screenY = typeof window.screenY != 'undefined' ? window.screenY : window.screenTop,
            outerWidth = typeof window.outerWidth != 'undefined' ? window.outerWidth : document.documentElement.clientWidth,
            outerHeight = typeof window.outerHeight != 'undefined' ? window.outerHeight : document.documentElement.clientHeight - 22,
            targetWidth = mobile() ? null : w,
            targetHeight = mobile() ? null : h,
            V = screenX < 0 ? window.screen.width + screenX : screenX,
            left = parseInt(V + (outerWidth - targetWidth) / 2, 10),
            right = parseInt(screenY + (outerHeight - targetHeight) / 2.5, 10),
            features = [];
        if (targetWidth !== null) {
            features.push('width=' + targetWidth);
        }
        if (targetHeight !== null) {
            features.push('height=' + targetHeight);
        }
        features.push('left=' + left);
        features.push('top=' + right);
        features.push('scrollbars=0');
        features.push('location=0');
        features.push('menubar=0');
        features.push('title=0');
        features.push('resizable=0');



        var newWindow = window.open(url, title, features.join(','));

        if (window.focus) {
            newWindow.focus();
        }

        return newWindow;
    }




    function ConfirmDeleteRowEQ(e) {
        e.preventDefault();

        var grid = this;
        var row = $(e.currentTarget).closest("tr");
        var dataItem = this.dataItem(row);

        ShowDeleteConfirm(dataItem.NomEquipement, function (args) {
            if (args.confirmed === true) {
                grid.removeRow(row);
            }
        });
    }



    function ListeErreurEQ(args) {
        var selecteurGrid = "#listEquipement";
        var grid = $(selecteurGrid).data("kendoGrid");
        if (args.errors) {
            var validationTemplate = kendo.template($("#gridValidationMessageTemplate").html());
            grid.one("dataBinding", function (e) {
                e.preventDefault();

                $.each(args.errors, function (propertyName) {
                    var errorList = validationTemplate({ field: propertyName, messages: this.errors });
                    ShowNotification("@CadEquipRES.Erreurs", errorList, "errorListTemplate");
                });
            });
        }
        else if (args.xhr) {
            console.log('There was some error', args);
            ShowNotification("@CadEquipRES.Erreurs", args.xhr.statusText, "errorTemplate");
            grid.dataSource.read();
        }
    }

    function ListeDataBoundEQ(e) {
        console.log('Calling ListeDataBoundEQ ...');
        var selecteurGrid = "#listEquipement";
        var grid = $(selecteurGrid).data("kendoGrid");


        //$(selecteurGrid + " .k-grid-effacer").find("span").addClass("k-icon k-delete");
        $(selecteurGrid + " .k-grid-effacer");



        //Selects all delete buttons
        $(selecteurGrid + " tbody tr .k-grid-effacer").each(function () {
            var currentDataItem = grid.dataItem($(this).closest("tr"));

            //Check in the current dataItem if the row is deletable
            if (!currentDataItem.Suppressible) {

                $(this).remove();
            }
        })
    }



    function showDetailsQR(e) {
        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var wind = $("#QrDetails").data("kendoWindow");

        wind.content(qrCodeTemplate(dataItem));
        wind.center().open();

        if (dataItem.QRCode.includes('QRCode.png')) {
            $('img#QRCode').attr('src', dataItem.QRCode);
        }
    }

    function closeDetailsQR() {
        $("#QrDetails").data("kendoWindow").close();
    }

    function SaveQRInfo() {
        var eqId = $('#details-container-qr').find("#EquipementId").val();

        console.log('eqId', eqId);

        $.ajax({
            url: '/Equipement/SaveEquipementQR?id=' + eqId,
            type: 'POST',
            //data: model,
            dataType: 'json',
            cache: false,
            success: function (result) {
                if (result.isSuccess == true) {
                    //closeDetailsEQ();
                    $('#listEquipement').data('kendoGrid').dataSource.read();

                    $('#details-container-qr').find("#QRCode").attr('src', result.QRCode);
                }
            },
            error: function (req, status, errorObj) {
            }
        });
    }

    $(document).on('click', '.btn-print-qr', ShowQRSelection);

    function ShowQRSelection() {
        var url = "@Url.Action("OnlyWithQR", "FicheCadenassage", new { @id = Model.ClientId })";
        var temp = $("#EqWithQR").data("kendoWindow");


        var evt = function () {
            console.log('loading grid');

            $("#gridTest").kendoGrid({
                dataSource: {
                    transport: {
                        read: {
                            url: "@Url.Action("OnlyWithQRData", "FicheCadenassage", new { @id = Model.ClientId })",
                            dataType: "json"
                        }
                    }
                    //pageSize: 10,
                },
                //pageable: {
                //    buttonCount: 5
                //},
                filterable: {
                    extra: false,
                    operators: {
                        string: {
                            contains: "@GridRES.Contains",
                            startswith: "@GridRES.StartsWith",
                            eq: "@GridRES.Egale",
                            neq: "@GridRES.NotEquals"
                        }
                    }
                },

                height: "465px",
                scrollable: true,
                sortable: true,
                resizable: true,
                columns: [
                    {
                        field: "EquipementId", filterable: false, sortable: false, width: "45px",
                        template: "<input type='checkbox' name='selected-equi' class='selected-equi' data-eqid='#: EquipementId #' />",
                        headerTemplate: "<input type='checkbox' onClick='toggleOnlyWithQR(this)' class='selected-equi-all' />"
                    },
                    { field: "NumeroEquipment", width: "150px", title: "@CadEquipRES.Num" },
                    { field: "NomEquipement", title: "@CadEquipRES.Nom" }
                ]
            });
        };


        temp.unbind("refresh");
        temp.bind("refresh", evt);

        temp.refresh({ url: url })
            .center()
            .open()
            ;
    }


    $(document).on('click', '#btnPrintSelected', function () {
        var selectedNo = [];

        $('.selected-equi').each(function () {
            if (this.checked == true) {
                selectedNo.push($(this).data('eqid'));
            }
        });

        var selectedOption;
        $('[name="RadioType"]').each(function () {
            if (this.checked == true) {
                selectedOption = $(this).val();
            }
        });

        var selectedOri;
        $('[name="QRPageOrientation"]').each(function () {
            if (this.checked == true) {
                selectedOri = $(this).val();
            }
        });

        if (selectedNo.length == 0) {
            alert("@Html.Raw(CadEquipRES.MissingOptions)");
            return;
        }

        if (selectedOption == undefined) {
            alert("@Html.Raw(CadEquipRES.MissingEquipments)");
            return;
        }

        if (selectedOri == undefined) {
            alert("@Html.Raw(CadEquipRES.MissingOrientation)");
            return;
        }

        var url = "@Url.Action("PrintQR", "FicheCadenassage", new { @id = Model.ClientId })" + '?opt=' + selectedOption + '&ori=' + selectedOri + '&equ=' + selectedNo.toString();

        window.open(url, '_blank').focus();
    });

    function toggleOnlyWithQR(source) {
        $('.selected-equi').each(function () {
            $(this).prop('checked', source.checked)
        });
    }

    $(document).on('click', '.selected-equi', function () { $('.selected-equi-all').prop('checked', false); });
</script>
