@using Previgesst.Ressources.Cadenassage
@model List<Previgesst.ViewModels.EquipementQRViewModel>

@{
    ViewBag.Title = "Select Equipment";
    Layout = null;
}


<style>
    #gridTest .k-grid-content{
        height: 388px !important;
        overflow: scroll;
    }

    #gridTest .k-header > .k-grid-filter,
    #gridTest .k-header > .k-header-column-menu {
        position: relative !important;
        float: left !important;
        margin-right: 5px;
    }
</style>

<div class="container-fluid">
    @if (Model != null && Model.Count() > 0)
    {
        <div style="display: block;min-height: 100px;">
            <div style="display: inline-block; float: left;">
                <label>
                    <input type="radio" name="RadioType" value="60503" /> @CadEquipRES.QROption1
                </label>
                <br />
                <label>
                    <input type="radio" name="RadioType" value="60505" /> @CadEquipRES.QROption2
                </label>
                <br />
                <label>
                    <input type="radio" name="RadioType" value="5524" /> @CadEquipRES.QROption3
                </label>

                <br />
                <br />
            </div>
            <div style="display: inline-block; float: right;">
                <label>
                    <input type="radio" name="QRPageOrientation" value="L" /> @CadEquipRES.Landscape
                </label>
                <br />
                <label>
                    <input type="radio" name="QRPageOrientation" value="P" /> @CadEquipRES.Portrait
                </label>
            </div>
        </div>


        <div id="gridTest"></div>


        <br />
        <input type="button" value="@CadEquipRES.PrintQRCode" class="btn btn-primary pull-right" id="btnPrintSelected" />
    }
    else
    {
        <p>
            @CadEquipRES.NoQRAvailable
        </p>
    }
</div>

