@using Previgesst.Ressources.Cadenassage
@model List<Previgesst.ViewModels.EquipementQRViewModel>

@{
    ViewBag.Title = "Select Equipment";
    Layout = null;
}

<style>
    table.popupOnlyWithQR thead tr {
        display: block;
    }

    table.popupOnlyWithQR tbody {
        display: block;
        height: 400px;
        overflow: auto;
    }
</style>

<div class="container-fluid">
    @if (Model != null && Model.Count() > 0)
    {
        <div style="display: block;">
            <div style="display: inline-block; float: left;">
                <label>
                    <input type="radio" name="RadioType" value="60503" /> @CadEquipRES.QROption1
                </label>
                <br />
                <label>
                    <input type="radio" name="RadioType" value="60505" /> @CadEquipRES.QROption2
                </label>
                <br />
                <label>
                    <input type="radio" name="RadioType" value="5524" /> @CadEquipRES.QROption3
                </label>

                <br />
                <br />
            </div>
            <div style="display: inline-block; float: right;">
                <label>
                    <input type="radio" name="QRPageOrientation" value="L" /> @CadEquipRES.Landscape
                </label>
                <br />
                <label>
                    <input type="radio" name="QRPageOrientation" value="P" /> @CadEquipRES.Portrait
                </label>
            </div>
        </div>





        <table cellpadding="0" cellspacing="0" border="0" class="center table popupOnlyWithQR" id="tableOnlyWithQR">
            @*<colgroup>
            <col style="width:80px" />
            <col style="width:150px" />
            <col style="width:350px" />
        </colgroup>*@
            <thead>
                <tr>
                    <th style="width: 30px"><input type="checkbox" onClick="toggleOnlyWithQR(this)" class="selected-equi-all" /> <br /></th>
                    <th style="width: 150px">@CadEquipRES.Num</th>
                    <th style="width: 255px">@CadEquipRES.Nom</th>
                </tr>
            </thead>
            @foreach (var item in Model)
            {
                <tr>
                    <td style="width: 30px"><input type="checkbox" name="selected-equi" class="selected-equi" data-eqid="@item.EquipementId" /> </td>
                    <td style="width: 150px">
                        <label>@item.NumeroEquipment</label>
                    </td>
                    <td style="width: 255px">
                        <label>@item.NomEquipement</label>
                    </td>
                </tr>
            }
        </table>

        <br />
        <br />
        <input type="button" value="@CadEquipRES.PrintQRCode" class="btn btn-primary pull-right" id="btnPrintSelected" />
    }
    else
    {
        <p>There are no QR codes available.</p>
    }
</div>

