@using Previgesst.Ressources.Cadenassage
@model List<Previgesst.ViewModels.EquipementQRViewModel>

@{
    ViewBag.Title = "Select Equipment";
    Layout = null;
}


<style>
    #gridTest .k-grid-content{
        height: 350px !important;
        overflow: scroll;
    }

    #gridTest .k-header > .k-grid-filter,
    #gridTest .k-header > .k-header-column-menu {
        position: relative !important;
        float: left !important;
        margin-right: 5px;
    }

    .squaredThree .selected-equi{ width: 0; }
    div.k-window-content{height: auto; border-bottom-left-radius: 25px; border-bottom-right-radius: 25px;}
</style>

<div class="p-1 bg-white1">
    <div class="row11">
        <div class="col-111">

            @if (Model != null && Model.Count() > 0)
            {
                <div style="display: block;min-height: 100px;" class="bg-white td-round-left-border ps-4 pt-4 pb-1">
                    <div style="display: inline-block; float: left;">
                        <label class="form-label">
                            <input type="radio" name="RadioType" value="60503" /> @CadEquipRES.QROption1
                        </label>
                        <br />
                        <label class="form-label">
                            <input type="radio" name="RadioType" value="60505" /> @CadEquipRES.QROption2
                        </label>
                        <br />
                        <label class="form-label">
                            <input type="radio" name="RadioType" value="5524" /> @CadEquipRES.QROption3
                        </label>

                        <br />
                        <br />
                    </div>
                    <div style="display: inline-block; float: right;">
                        <label class="form-label">
                            <input type="radio" name="QRPageOrientation" value="L" /> @CadEquipRES.Landscape
                        </label>
                        <br />
                        <label class="form-label">
                            <input type="radio" name="QRPageOrientation" value="P" /> @CadEquipRES.Portrait
                        </label>
                    </div>
                </div>


                <div id="gridTest"></div>


                <br />
                <div class="float-end">
                    @*<input type="button" value="@CadEquipRES.PrintQRCode" class="btn btn-qr pull-right pull-end" id="btnPrintSelected" />*@
                    <a class="k-button btn-Annuler m-1" href="#" id="btnPrintSelectedClose"><span class="">Annuler</span> </a>

                    <a class="btn btn-qr pull-right- float-end-" id="btnPrintSelected" href="#">@CadEquipRES.PrintQRCode</a>
                </div>
            }
            else
            {
                <p>
                    @CadEquipRES.NoQRAvailable
                </p>
            }


        </div>
    </div>
</div>

