@using Previgesst.Ressources.Cadenassage
@model Previgesst.ViewModels.EditCadenassageViewModel



<div class="table-top-header">
    <div class="page-title d-flex justify-content-center align-items-center">
        <h3 class="m-0">Hyperlien Utilisateur</h3>
    </div>
</div>

<div class="td-round-left-border mt-5 pt-5 bg-white">
    <div class="row">
        <div class="col-12">
            <label class="form-label ps-2">@CadDeptPrevicad.Lien</label>
            @*</div>
                <div class="col-4 float-end">*@


            <a class="k-button btn-mettre m-1 float-end" style="width: 225px; padding: 15px;" href="mailto:?subject=@CadDeptPrevicad.EmailSubject&body=@CadDeptPrevicad.EmailContent : @Model.LienPrevicad">
                @CadDeptPrevicad.Send
            </a>
           
        </div>
    </div>
</div>

<div class="td-round-left-border mt-5 pt-5 bg-white">
    <div class="row">
        <div class="col-10">
            <label class="form-label ps-2">Desktop Version</label>
            <input type="text" id="urlClient" value="@Model.LienPrevicad" class="form-control" />
        </div>
        <div class="col-2 text-end">
            <br />
            <a class="btn-table btn-link m-1 card-wrapper-link" onclick="copieClientUrl()">
                @CadDeptPrevicad.Copy
            </a>
        </div>
    </div>
</div>

<div class="td-round-left-border mt-5 pt-5 bg-white">
    <div class="row">
        <div class="col-10">
            <label class="form-label ps-2">Mobile Version</label>
            <input type="text" id="urlClientMobile" value="@Model.LienPrevicadMobile" class="form-control" />
        </div>
        <div class="col-2 text-end">
            <br />
            <a class="btn-table btn-link m-1 card-wrapper-link" onclick="copieClientUrlMobile()">
                @CadDeptPrevicad.Copy
            </a>
        </div>
    </div>
</div>

@*<button type="button" class="btn btn-primary">
    </button>

    <p style="margin:10px 0;">@CadDeptPrevicad.Or</p>

            <img src='/Images/lien-partage.png' style='width: 40px;'>
            <img src='/Images/email.png' style='width: 40px;'>

*@






<script defer="defer">
    function copieClientUrl() {
        var copyText = document.getElementById("urlClient");
        copyText.select();
        copyText.setSelectionRange(0, 99999)
        document.execCommand("copy");
    }

    function copieClientUrlMobile() {
        var copyText = document.getElementById("urlClientMobile");
        copyText.select();
        copyText.setSelectionRange(0, 99999)
        document.execCommand("copy");
    }
</script>