@using Previgesst.Ressources.Cadenassage
@model List<Previgesst.ViewModels.EquipementQRViewModel>

@{
    ViewBag.Title = "Print QR";
    Layout = null;

    var orientation = Convert.ToString(Request.QueryString["ori"]).ToUpper();
    var template = Request.QueryString["opt"];


    int height = 200;
    int width = 300;
    int rows = 5;
    int col = 2;

    if (template == "60503")
    {
        // 60503
        // 3,5 x 5 pouces
        // 4 par feuille

        rows = 2;
        col = 2;

        height = 336 + 165;
        width = 480 - 80;

        if (orientation == "L")
        {
            height = 480 - 85;
            width = 336 + 85;
        }
    }
    else if (template == "60505")
    {
        // 60505
        // 2 x 4 pouces(5 x 10 cm)
        // Autre numéro pour la même disposition que celle vue en rencontre
        // 10 par feuilles

        rows = 5;
        col = 2;

        height = 192 + 10;
        width = 384;

        if (orientation == "L")
        {
            rows = 2;
            col = 5;

            height = 384;
            width = 192 + 10;
        }
    }
    else if (template == "5524")
    {
        // 5524 template
        // 3-1/3 X 4 pouces (Oui 1/3 de pouce, 0,33…!) -
        // 6 par feuille

        rows = 3;
        col = 2;

        height = 384 - 55;
        width = 320 + 45;

        if (orientation == "L")
        {
            rows = 2;
            col = 3;

            height = 320 + 55;
            width = 384 - 45;
        }
    }
}

<style type="text/css">
    body {
        font-family: Arial;
        font-size: 14px;
        margin: 0;
    }

    .center {
        margin-left: auto;
        margin-right: auto;
    }

    .btn-info {
        display: block;
        padding: 6px 12px;
        margin-bottom: 0;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.42857143;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-image: none;
        border: 1px solid transparent;
        border-radius: 4px;
        color: #fff;
        background-color: #5bc0de;
        border-color: #46b8da;
    }

    .label-border {
        border: 1px solid #808080;
        border-radius: 5px;
    }

    .P_60505 {
        display: inline-block;
        position: relative;
        top: -145px;
    }

    @@media print {
        .noPrint {
            display: none;
        }
        /* page-break-after works, as well */
        .pagebreak {
            page-break-before: always;
            min-height: 1px;
        }

        div.page,
        div.portrait,
        div.landscape {
            margin: 0;
            padding: 0;
            border: none;
            background: none;
        }
    }
</style>

@{
    if (orientation == "L")
    {
        <style type="text/css" media="print">
            @@page {
                size: letter landscape;
            }
        </style>
    }
    else
    {
        <style type="text/css" media="print">
            @@page {
                size: letter portrait;
            }
        </style>
    }
}

<div class="container-fluid">
    @if (Model != null && Model.Count() > 0)
    {

        <button onclick="window.print();" class="noPrint btn-info">
            Print Me
        </button>


        int totalDone = 0;
        int totalRows = 0;
        foreach (var item in Model)
        {
            int wd = 250;
            if (width <= 250) { wd = width; }
            else if (250 > height) { wd = height; }

            <div class="label-border" style="display:inline-block;overflow: hidden; width: @width;height: @height;">
                <img src="@item.QRCode" alt="QR Code" style="width: @(wd)px;" />

                @*style="height: @(height-50)px;width: 100%;"*@

                @*@if (orientation == "L")
                    {
                        <img src="@item.QRCode" alt="QR Code" style="height: @(height-50)px;width: 100%;" />
                    }
                    else
                    {
                        <img src="@item.QRCode" alt="QR Code" style="width: 100%;" />
                    }
                *@
                <div class="@(template == "60505" && orientation == "P" ? "P_60505" : "")">
                    <label style="display: block; font-size: 16px; padding: 5px 0 5px 20px; font-weight: bold;">@item.NomClient</label>
                    <label style="display: block; font-size: 16px; padding: 5px 0 0 20px; font-weight: bold;">@item.NomEquipement [@item.EquipementId]</label>
                </div>
            </div>

            totalDone += 1;

            if (totalDone != 0 && totalDone % col == 0)
            {
                totalRows += 1;
                <br />
            }

            if (totalRows != 0 && totalRows % rows == 0)
            {
                totalRows = 0;

                if (totalDone < Model.Count())
                {
                    <div class="pagebreak"></div>
                }
            }
        }



        @*<table cellpadding="0" cellspacing="0" border="0" class="center">
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <img src="@item.QRCode" alt="QR Code" width="200" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>@item.NomClient</label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>@item.NomEquipement [@item.EquipementId]</label>
                            <br />
                            <br />
                            <br />
                        </td>
                    </tr>
                }
            </table>*@

    }
    else
    {
        <p>There are no QR codes available.</p>
    }
</div>
