@using Previgesst.Ressources
@model UtilisateurIndexViewModel




<div class="p-4 bg-white popup-mx-h">

    <div class="row">
        <div class="col-11">


            @Html.HiddenFor(x => x.UtilisateurId)
            @Html.HiddenFor(x => x.ClientId, new { @value = Model.ClientId })

            <div class="form-group">
                @Html.LabelFor(model => model.NomUtilisateur, new { @class = "form-label d-block" })


                @Html.TextBoxFor(model => model.NomUtilisateur, new { @class = "form-control petit" })
                @Html.ValidationMessageFor(model => model.NomUtilisateur)
            </div>


            <div class="form-group mt-3">
                @Html.LabelFor(model => model.Courriel, new { @class = "form-label d-block" })


                @Html.TextBoxFor(model => model.Courriel, new { @class = "form-control petit" })
                @Html.ValidationMessageFor(model => model.Courriel)


            </div>

            <div class="form-group mt-3">
                @Html.LabelFor(model => model.Nom, new { @class = "form-label d-block" })

                @Html.TextBoxFor(model => model.Nom, new { @class = "form-control petit" })
                @Html.ValidationMessageFor(model => model.Nom)

            </div>


            <div class="form-group mt-3">
                @Html.LabelFor(model => model.MotDePasse, new { @class = "form-label d-block" })

                @Html.TextBoxFor(model => model.MotDePasse, new { @class = "form-control petit", @autocomplte = "new-password" })
                @Html.ValidationMessageFor(model => model.MotDePasse)

            </div>


            <div class="form-group mt-3">
                <div class="squaredThree squaredThree-blue d-inline-block">
                    <input type="checkbox" id="Actif" name="Actif" @(Model.Actif ? "checked" : "") value="@Convert.ToString(Model.Actif).ToLower()" />
                    <label for="Actif"><span>@Html.DisplayNameFor(x => x.Actif) </span></label>
                </div>

                @Html.ValidationMessageFor(model => model.Actif)

            </div>

            <h4 style="text-align:center;padding:20px 0;"><strong>@UtilisateursRES.HeadingParameters</strong></h4>

            <p><strong>@UtilisateursRES.HeadingNotifications</strong></p>
            <hr />

            <div class="form-group mt-3">
                <div class="squaredThree squaredThree-blue d-inline-block">
                    <input type="checkbox" id="NotificationDebutCad" name="NotificationDebutCad" @(Model.NotificationDebutCad ? "checked" : "") value="@Convert.ToString(Model.NotificationDebutCad).ToLower()" />
                    <label for="NotificationDebutCad"><span>@Html.DisplayNameFor(x => x.NotificationDebutCad) </span></label>
                </div>

                @Html.ValidationMessageFor(model => model.NotificationDebutCad)

                <br />
                <div class="clearfix"></div>

                <div class="squaredThree squaredThree-blue d-inline-block mt-3">
                    <input type="checkbox" id="NotificationNonConformite" name="NotificationNonConformite" @(Model.NotificationNonConformite ? "checked" : "") value="@Convert.ToString(Model.NotificationNonConformite).ToLower()" />
                    <label for="NotificationNonConformite"><span>@Html.DisplayNameFor(x => x.NotificationNonConformite) </span></label>
                </div>

                @Html.ValidationMessageFor(model => model.NotificationNonConformite)
            </div>

            <hr />
            <p><strong>@UtilisateursRES.HeadingAcces</strong></p>
            <hr />

            @if (User.IsInRole("Administrateur"))
            {
                <div class="row">
                    <div class="col-md-10">

                        <div class="form-group mt-3">
                            <div class="squaredThree squaredThree-blue d-inline-block">
                                <input type="checkbox" id="AdmUtilisateurs" name="AdmUtilisateurs" @(Model.AdmUtilisateurs ? "checked" : "") value="@Convert.ToString(Model.AdmUtilisateurs).ToLower()" />
                                <label for="AdmUtilisateurs"><span>@Html.DisplayNameFor(x => x.AdmUtilisateurs) </span></label>
                            </div>

                            @Html.ValidationMessageFor(model => model.AdmUtilisateurs)

                        </div>
                    </div>
                </div>
            }
            else
            {
                @Html.HiddenFor(model => model.AdmUtilisateurs)
            }

            <div class="row">

                <div class="col-md-5">
                    <div class="form-group mt-3">
                        <div class="squaredThree squaredThree-blue d-inline-block">
                            <input type="checkbox" id="AdmPrevicad" name="AdmPrevicad" @(Model.AdmUtilisateurs ? "checked" : "") value="@Convert.ToString(Model.AdmPrevicad).ToLower()" />
                            <label for="AdmPrevicad"><span>@Html.DisplayNameFor(x => x.AdmPrevicad) </span></label>
                        </div>
                        @Html.ValidationMessageFor(model => model.AdmPrevicad)

                    </div>
                    <div class="form-group mt-3">
                        <div class="squaredThree squaredThree-blue d-inline-block">
                            <input type="checkbox" id="AdmAnalyseRisque" name="AdmAnalyseRisque" @(Model.AdmAnalyseRisque ? "checked" : "") value="@Convert.ToString(Model.AdmAnalyseRisque).ToLower()" />
                            <label for="AdmAnalyseRisque"><span>@Html.DisplayNameFor(x => x.AdmAnalyseRisque) </span></label>
                        </div>

                        @Html.ValidationMessageFor(model => model.AdmAnalyseRisque)

                    </div>
                    <div class="form-group mt-3">
             
                        <div class="squaredThree squaredThree-blue d-inline-block">
                            <input type="checkbox" id="Auditeur" name="Auditeur" @(Model.Auditeur ? "checked" : "") value="@Convert.ToString(Model.Auditeur).ToLower()" />
                            <label for="Auditeur"><span>@Html.DisplayNameFor(x => x.Auditeur) </span></label>
                        </div>

                        @Html.ValidationMessageFor(model => model.Auditeur)
                    </div>
                </div>

                <div class="col-md-5">
                    <div class="form-group mt-3">
          
                        <div class="squaredThree squaredThree-blue d-inline-block">
                            <input type="checkbox" id="ROPrevicad" name="ROPrevicad" @(Model.ROPrevicad ? "checked" : "") value="@Convert.ToString(Model.ROPrevicad).ToLower()" />
                            <label for="ROPrevicad"><span>@Html.DisplayNameFor(x => x.ROPrevicad) </span></label>
                        </div>

                        @Html.ValidationMessageFor(model => model.ROPrevicad)

                    </div>
                    <div class="form-group mt-3">
       
                        <div class="squaredThree squaredThree-blue d-inline-block">
                            <input type="checkbox" id="ROAnalyseRisque" name="ROAnalyseRisque" @(Model.ROAnalyseRisque ? "checked" : "") value="@Convert.ToString(Model.ROAnalyseRisque).ToLower()" />
                            <label for="ROAnalyseRisque"><span>@Html.DisplayNameFor(x => x.ROAnalyseRisque) </span></label>
                        </div>

                        @Html.ValidationMessageFor(model => model.ROAnalyseRisque)

                    </div>
                    <div class="form-group mt-3">
      
                        <div class="squaredThree squaredThree-blue d-inline-block">
                            <input type="checkbox" id="RODocuments" name="RODocuments" @(Model.RODocuments ? "checked" : "") value="@Convert.ToString(Model.RODocuments).ToLower()" />
                            <label for="RODocuments"><span>@Html.DisplayNameFor(x => x.RODocuments) </span></label>
                        </div>

                        @Html.ValidationMessageFor(model => model.RODocuments)

                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-5">

                    <div class="form-group mt-3">
                        @Html.ValidationMessageFor(model => model.MessageErreur)
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>

<script>
    jQuery(document).ready(function () {
        "use strict";

        jQuery('.k-grid-update').removeClass('btn-edit').addClass('btn-mettre m-1');
        jQuery('.k-grid-cancel').removeClass('btn-edit').addClass('btn-Annuler m-1');
    });
</script>

