@using Previgesst.Ressources;
@using Previgesst.Ressources.Previcad
@model ChangePasswordViewModel

@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_Layout_v2.cshtml";
}


@section sidebar{
    <ul class="nav flex-column sidebar-nav" role="tablist">

        <li class="nav-item text-center mt-2">
            <a class="nav-link home-navlink" role="tab" href="/AdminPrevi">
                <img src="/content/v2/images/icon-home.png" /><p class="nav-link-text">@LayoutRES.Accueil</p>
            </a>
        </li>

        <li class="nav-item text-center active">
            <a class="nav-link home-navlink" href="#">
                <img src="/content/v2/images/left-icon20.svg" title="@LayoutRES.ChangePassword" />
                <p class="nav-link-text">@LayoutRES.ChangePassword</p>
            </a>
        </li>
    </ul>
}





<main class="main-container-wrapper page-container">
    <div class="breadcrumbs-nav-wrapper">
        <ul class="breadcrumbs">
            <li><a href="/AdminPrevi"> @LayoutRES.Accueil</a></li>
            <li>@LayoutRES.ChangePassword</li>
        </ul>
    </div>


    <div class="main-page-content">

        <div class="table-top-header">
            <div class="page-title d-flex justify-content-center align-items-center">
                <h3 class="m-0">@LayoutRES.ChangePassword</h3>
            </div>
        </div>


        <div class="row mt-3">
            <div class="col-lg-4 col-md-6 col-sm-12">
                    @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()

                        @Html.HiddenFor(m => m.UserName)

                        <div class="mb-3">
                            @Html.LabelFor(m => m.UserName, new { @class = "form-label" })
                            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @readonly = "readonly" })
                            @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                        </div>

                        <div class="mb-3">
                            @Html.LabelFor(m => m.CurrentPassword, new { @class = "form-label" })
                            @Html.PasswordFor(m => m.CurrentPassword, new { @class = "form-control", @autocomplete = "none" })
                            @Html.ValidationMessageFor(m => m.CurrentPassword, "", new { @class = "text-danger" })
                        </div>

                        <div class="mb-3">
                            @Html.LabelFor(m => m.Password, new { @class = "form-label" })
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", @autocomplete = "none" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>

                        <div class="mb-3">
                            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "form-label" })
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @autocomplete = "none" })
                            @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                        </div>

                        <div class="login-form-footer">
                            <div class="login-btn-wrapper text-end">
                                <button type="submit" class="btn btn-mettre m-1" style="width: auto;">@ClientLoginRES.ConfirmPassword</button>
                            </div>
                        </div>

                        <br />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger d-block" })
                    }
            </div>

        </div>
    </div>

</main>
