@model LoginViewModel
@using Previgesst.Ressources;

@{
    ViewBag.Title = "Applications Prévicad";
    Layout = null;
}

@{
    string path = Request.Url.PathAndQuery;
    string selectedLang = string.Empty;

    if (path.Contains("/en/") || path.Contains("/en?")) { selectedLang = "en"; }
    else if (path.Contains("/fr/") || path.Contains("/fr?")) { selectedLang = "fr"; }

    path = path.Replace("/en/", "").Replace("/en?", "");
    path = path.Replace("/fr/", "").Replace("/fr?", "");

    if (path.ToLower().Contains("returnurl="))
    {
        path = "";
    }

    if (path.Length == 0)
    {
        path = "Account/Login";
    }
    if (path.Substring(0, 1) == "/")
    {
        path = path.Substring(1);
    }
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/content/v2/fonts.css" />
    <link rel="stylesheet" href="/content/v2/bootstrap/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="/content/v2/login.css" type="text/css" />
</head>



<body>
    <nav class="navbar navbar-light fixed-top navbar-bg flex-md-nowrap flex-row-reverse">
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <select name="name_privacy" id="slct" class="p-2">
                    <option class="p-2" value="/fr/@path" @if (selectedLang == "fr") { <text> selected="selected" </text> }>Fr</option>
                    <option class="p-2" value="/en/@path" @if (selectedLang == "en") { <text> selected="selected" </text> }>En</option>
                </select>
            </li>
        </ul>
    </nav>


    <div class="login-wrapper login-top-max">
        <div class="login-image">
            <img src="/content/v2/images/bg-image.png" alt="...">
        </div>

        <div class="row m-0 login-content">
            <div class="col-lg-4 col-md-6 col-sm-12 login-form-wrapper p-0">
                <div class="previcad-login-form previcad-login-form-dark">
                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = Request.QueryString["ReturnUrl"] }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        <div class="mb-3">
                            @Html.LabelFor(m => m.UserName, new { @class = "form-label previcad-form-label previcad-form-label-dark" })
                            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control previcad-form-control" })
                            @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                        </div>

                        <div class="mb-3">
                            @Html.LabelFor(m => m.Password, new { @class = "form-label previcad-form-label previcad-form-label-dark" })
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control previcad-form-control" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>

                        <div class="login-form-footer">
                            <div class="login-btn-wrapper">
                                <button type="submit" class="btn btn-primary previcad-login-btn">@ClientLoginRES.SeConnecter</button>
                            </div>
                            @*<div class="forgot-pass">
                                <span>@ClientLoginRES.ForgotPassword</span>
                            </div>*@
                            <br />
                            <br />
                            <br />
                            @Html.ValidationSummary(true, "", new { @class = "text-danger d-block" })
                        </div>
                    }
                </div>
            </div>
            <div class="col-lg-8 col-md-6 col-sm-12 p-0">
                <div class="previcad-platform-section">
                    <div class="login-heading">
                        <h2><span>La</span><span style="color:#329FFD"> prévention</span> <span><br>en application.</span></h2>
                    </div>
                    <div class="login-side-content">
                        <div class="previcad-administrators">
                            <h4>@LayoutRES.PlateformSuperAdmin</h4>
                        </div>
                        <div class="row m-0  previcad-platform-section-footer">
                            <div class="col-md-8 previcad-copyright-sec p-0">
                                <ul class="p-0 m-0">
                                    <li>Version 2.0</li>
                                    <li>@LayoutRES.FooterCopyright</li>
                                    <li>@LayoutRES.FooterRights</li>
                                </ul>
                            </div>
                            <div class="col-md-4">
                                <img src="/content/v2/images/Groupe.png" class="logo">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    @*<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>*@

    @Scripts.Render("~/bundles/globalize")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")

    <script src="/Scripts/v2/bootstrap.min.js"></script>

    <script type="text/javascript">
        $('#slct').change(function () {
            location.href = $(this).val();
        });
    </script>
</body>
</html>



@*

    <br />
    <br />

    <div class="container loginPage">
        <div class="row">
            <div class="col-md-9" style="float:initial;margin:0 auto;">
                <div class="panel panel-danger">
                    <div class="panel-heading back-panel" style="font-size:larger;font-weight:500;color:white">Accès au site administratif</div>
                    <div class="panel-body">


                        <div class="row">
                            <div class="col-md-12">
                                <section id="loginForm">
                                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = Request.QueryString["ReturnUrl"] }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                    {
                                        //@Html.AntiForgeryToken()


                                        <div class="form-group">
                                            @Html.LabelFor(m => m.UserName, new { @class = "col-md-4 control-label" })
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.Password, new { @class = "col-md-4 control-label" })
                                            <div class="col-md-8">
                                                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col col-md-12">
                                                <input type="submit" value="Se connecter" class="btn btn-primary" />
                                            </div>
                                        </div>
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                        <br />

                                    }
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
*@