@model LoginViewModel


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br /><br />

      <div class="container loginPage">
          <div class="row">
              <div class="col-md-9" style="float:initial;margin:0 auto;">
                  <div class="panel panel-danger">
                      <div class="panel-heading back-panel" style="font-size:larger;font-weight:500;color:white">Accès au site administratif</div>
                      <div class="panel-body">


                          <div class="row">
                              <div class="col-md-12">
                                  <section id="loginForm">
                                      @using (Html.BeginForm("Login", "Account", new { ReturnUrl = Request.QueryString["ReturnUrl"] }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                      {
                                          //@Html.AntiForgeryToken()

                                          @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })*@

                                          <div class="form-group">
                                              @Html.LabelFor(m => m.UserName, new { @class = "col-md-4 control-label" })
                                              <div class="col-md-8">
                                                  @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                                                  @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                                              </div>
                                          </div>
                                          <div class="form-group">
                                              @Html.LabelFor(m => m.Password, new { @class = "col-md-4 control-label" })
                                              <div class="col-md-8">
                                                  @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                                  @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                              </div>
                                          </div>
                                          <div class="form-group">
                                              <div class="col col-md-12">
                                                  <input type="submit" value="Se connecter" class="btn btn-primary" />
                                              </div>
                                          </div>
                                          @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                          <br />

                                      }
                                  </section>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>