@model ClientEditDetailsViewModel
@using Previgesst.Ressources


<div class="table-top-header">
    <div class="page-title d-flex justify-content-center align-items-center">
        <h3 class="m-0">@ApplicationsRES.Title</h3>
    </div>
</div>


@using (Html.BeginForm("SaveApplications", "Client", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken();
    @Html.ValidationSummary(true, "", new { @class = "text-danger" });


    @Html.HiddenFor(model => model.ClientId)

    <div class="form-group">

        @Html.LabelFor(m => m.ApplicationIds, new { @class = "form-label" })

        @(Html.Kendo().MultiSelectFor(m => m.ApplicationIds)
                    .HtmlAttributes(new { @class = "form-control" })
                    .DataTextField("Nom")
                    .DataValueField("ApplicationPreviId")
                    .AutoClose(true)
                    .BindTo((System.Collections.IEnumerable)ViewData["Applications"])
                    .AutoBind(true)
        )

    </div>

    <div class="form-group">
        <input type="submit" class="btn btn-mettre m-1" value="@ApplicationsRES.ButtonEnregistrer" />
    </div>


}

