@using Previgesst.Ressources
@model GenerateResetPasswordViewModel
@{
    ViewBag.Title = "Réinitialiser le mot de passe";
    Layout = "~/Views/Shared/_Layout_v2.cshtml";
}





@section sidebar{

    <ul class="nav flex-column sidebar-nav" role="tablist">
        <li class="nav-item text-center mt-2">
            <a class="nav-link home-navlink" href='@Url.Action("Index", "AdminPrevi")'>
                <img src="/content/v2/images/icon-home.png" /><p class="nav-link-text">@LayoutRES.Accueil</p>
            </a>
        </li>

        <li class="nav-item text-center active">
            <a class="nav-link home-navlink" href='@Url.Action("EditUser", "Manage", new { @id = Model.UserId })'>
                <img src="/content/v2/images/Procédures.svg">
                <p class="nav-link-text">Edit User</p>
            </a>
        </li>
    </ul>
}


<main class="main-container-wrapper page-container">
    <div class="breadcrumbs-nav-wrapper">
        <ul class="breadcrumbs">
            <li><a href='@Url.Action("Index", "AdminPrevi")'>@LayoutRES.Accueil</a></li>
            <li><a href='@Url.Action("EditUser", "Manage", new { @id = Model.UserId })'>Edit User</a></li>
            <li class="active" aria-current="page">Réinitialiser le mot de passe</li>
        </ul>
    </div>


    <div class="main-page-content">

        <div class="table-top-header">
            <div class="page-title d-flex justify-content-center align-items-center">
                <h3>Réinitialiser le mot de passe de : @Html.DisplayTextFor(m => m.UserName)</h3>
            </div>
        </div>


        @using (Html.BeginForm("GenerateResetPassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {

            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.UserId)
            @Html.HiddenFor(m => m.UserName)
            @Html.HiddenFor(m => m.TokenExpiryHour)
            @Html.ValidationSummary(true, "", new { @class = "text-danger" });

            <div class="row">
                <div class="col-md-10 col-md-offset-2">
                    <div class="form-group mt-3">
                        <input type="submit" class="btn btn-primary" value="Générer le lien" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group mt-3">
                    @Html.LabelFor(m => m.Link, new { @class = "form-label d-block" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Link, new { @class = "form-control", disabled = "disabled" })
                    </div>
                </div>

                <div class="col-md-10 col-md-offset-2">
                    <div class="form-group mt-3">
                        <input id="btnCopyLink" type="button" class="btn btn-mettre m-1" value="Copier le lien" />
                        <span class="text-danger">Ce lien est valide pour @Html.DisplayFor(m => m.TokenExpiryHour) heures</span>.
                    </div>
                </div>
            </div>
        }

    </div>
</main>



@section scripts
    {
    <script type="text/javascript">
        $(document).ready(function () {
            $('#btnCopyLink').click(function () {
                copyToClipboard('#@Html.IdFor(m => m.Link)');
                $('#@Html.IdFor(m => m.Link)').closest('div.form-group').addClass('has-success');
                setTimeout(function () {
                    $('#@Html.IdFor(m => m.Link)').closest('div.form-group').removeClass('has-success');
                }, 500)
            });
        });

        function copyToClipboard(element) {
            var $temp = $("<input>");
            $("body").append($temp);
            $temp.val($(element).val()).select();
            document.execCommand("copy");
            $temp.remove();
        }
    </script>
}
