@model GenerateResetPasswordViewModel
@{
    ViewBag.Title = "Réinitialiser le mot de passe";
}




<h4>Réinitialiser le mot de passe de : @Html.DisplayTextFor(m => m.UserName)</h4>
<hr />



@using (Html.BeginForm("GenerateResetPassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{

    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.UserId)
    @Html.HiddenFor(m => m.UserName)
    @Html.HiddenFor(m => m.TokenExpiryHour)
    @Html.ValidationSummary(true, "", new { @class = "text-danger" });

    <div class="row">
        <div class="col-md-10 col-md-offset-2">
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Générer le lien" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            @Html.LabelFor(m => m.Link, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Link, new { @class = "form-control", disabled = "disabled" })
            </div>
        </div>
        <div class="col-md-10 col-md-offset-2">
            <div class="form-group">
                <input id="btnCopyLink" type="button" class="btn btn-success" value="Copier le lien" />
                <span class="text-danger">Ce lien est valide pour @Html.DisplayFor(m => m.TokenExpiryHour) heures</span>.
            </div>
        </div>
    </div>
}


@section scripts
    {
    <script type="text/javascript">
        $(document).ready(function () {
            $('#btnCopyLink').click(function () {
                copyToClipboard('#@Html.IdFor(m => m.Link)');
                $('#@Html.IdFor(m => m.Link)').closest('div.form-group').addClass('has-success');
                setTimeout(function () {
                    $('#@Html.IdFor(m => m.Link)').closest('div.form-group').removeClass('has-success');
                }, 500)
            });
        });

        function copyToClipboard(element) {
            var $temp = $("<input>");
            $("body").append($temp);
            $temp.val($(element).val()).select();
            document.execCommand("copy");
            $temp.remove();
        }
    </script>
}