@using Previgesst.Ressources
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>C L I E N T - Applications Prévigesst</title>


    <script type="text/javascript">

        var CONFIGPATH = '@Url.Content("~/Scripts/cldr/")'
   
    </script>

    @Styles.Render("~/content/css")
    @Styles.Render("~/Content/csskendo")
    @Styles.Render("~/content/cssAfter")

    @Scripts.Render("~/bundles/cldr")
    @Scripts.Render("~/bundles/globalize")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryajax")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/kendo")
    @Scripts.Render("~/bundles/site")

    <style type="text/css">

        .back-panel {
            background-color: #000032 !important;
            /*background-color: #b12a30 !important;*/
            /*background-color: #00FF00 !important;*/
            /*background-color: #0000FF !important;*/
        }

        .back-panel-light {
            background-color: #474782 !important;
            /*background-color: #0000FF !important;*/
        }
    </style>
</head>
<body style="border-top-width:0px;">
    <header>
        @Html.Partial("_NavigationClient")
    </header>
    <!-- Rotate image in display none -->
    <h3 class="rotate-phone--text" style="position:relative;z-index:9999;color:black;opacity:1;text-align:center;padding:5px;">@GridRES.ScreenRequire</h3>
    <img class='rotate-phone--user' src='@Url.Content("~/Images/rotate-phone.png")' />
    <img class='enlarge-screen--user' src='@Url.Content("~/Images/enlarge-screen.png")' />

    <div id="body">
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>
    </div>

    @{
        if (Request.Url.PathAndQuery == "/" || Request.Url.PathAndQuery == "/fr/"  || Request.Url.PathAndQuery == "/en/" || Request.Url.PathAndQuery == "/fr"  || Request.Url.PathAndQuery == "/en" || Request.Url.PathAndQuery == "/en/ClientLogin/Index/" || Request.Url.PathAndQuery == "/fr/ClientLogin/Index/" || Request.Url.PathAndQuery == "/en/ClientLogin/Index" || Request.Url.PathAndQuery == "/fr/ClientLogin/Index" || Request.Url.PathAndQuery == "/Account/Login" || Request.Url.PathAndQuery.Contains("/Registre/Index?") == true)
        {
            <footer class="myfooter back-panel">
                <div class="container-fluid">
                    <div class="row">
                        <div>
                            <h3>Sherbrooke</h3>
                            <p>
                                1832, Rue Galt Est
                                <br />Sherbrooke (Qc), J1J 3H8
                                <br />Tél. 819.566.8178
                                <br />Téléc. 819.566.8945
                                <br />Sans-frais 1.866.566.8178
                            </p>
                        </div>

                        <div>
                            <h3>Lévis</h3>
                            <p>
                                8149, Rue du Mistral, Bur. 102
                                <br />Lévis (Qc), G6X 1G5
                                Tél. 418.988.3113
                                <br />Téléc. 418.988.3143
                                <br />Sans-frais 1.888.988.3113
                            </p>
                        </div>
                        <div>

                            <h3>Brossard</h3>
                            <p>
                                6400, Avenue d'Auteuil, Bur. 101
                                <br />Brossard (Qc), J4Z 3P5
                                Tél. 450-486-1722
                                <br />Téléc. 450-486-3122
                                <br />Sans-frais 1.844.486.1722
                            </p>

                        </div>
                    </div>
                </div>

                <div class="subfooter"><p>Prévigesst @DateTime.Now.Year, Prévigesst. Tous droits réservés</p></div>

                @*<div class="content-wrapper">
                        <div class="float-left">
                                <p>Prévigesst @DateTime.Now.Year</p>
                        </div>
                    </div>*@
            </footer>
        }
    }

    @*<footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>Prévigesst @DateTime.Now.Year</p>
                </div>
            </div>
        </footer>*@

    @* Popup générique pour la suppression *@
    <div id="delete-generic-popup" class="modal fade" role="dialog" tabindex="-1" aria-hidden="true" aria-labelledby="delete-generic-title">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Fermer">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="delete-generic-title">@GridRES.Confirmation</h4>
                </div>
                <div class="modal-body">
                    <div>
                        @GridRES.DeleteMessage
                        <span class="text-danger">'<span class="element-to-delete"></span>'</span>?
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-danger" value="@GridRES.Oui" onclick="deleteGenericResult(true)" data-dismiss="modal" />
                    <input type="button" class="btn btn-primary" value="@GridRES.NePasSupprimer" onclick="deleteGenericResult(false)" data-dismiss="modal" />
                    <input type="hidden" class="delete-generic-result" />
                </div>
            </div>
        </div>
    </div>

    @* Popup générique pour dupliquer *@
    <div id="duplicate-generic-popup" class="modal fade" role="dialog" tabindex="-1" aria-hidden="true" aria-labelledby="duplicate-generic-title">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Fermer">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="duplicate-generic-title">@GridRES.Confirmation</h4>
                </div>
                <div class="modal-body">
                    <div>
                        @GridRES.DuplicateMessage
                        <span class="text-danger">'<span class="element-to-duplicate"></span>'</span>?
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-success" value="@GridRES.Oui" onclick="duplicateGenericResult(true)" data-dismiss="modal" />
                    <input type="button" class="btn btn-primary" value="@GridRES.NePasDupliquer" onclick="duplicateGenericResult(false)" data-dismiss="modal" />
                    <input type="hidden" class="duplicate-generic-result" />
                </div>
            </div>
        </div>
    </div>

    <script id="infoTemplate" type="text/x-kendo-template">
        <div class="alert alert-info">
            <h3>
                <span class="glyphicon glyphicon-exclamation-sign"></span>
                #= title #
            </h3>
            <p>#= message #</p>
        </div>
    </script>

    <script id="warningTemplate" type="text/x-kendo-template">
        <div class="alert alert-warning">
            <h3>
                <span class="glyphicon glyphicon-warning-sign"></span>
                #= title #
            </h3>
            <p>#= message #</p>
        </div>
    </script>

    <script id="errorTemplate" type="text/x-kendo-template">
        <div class="alert alert-danger">
            <h3>
                <span class="glyphicon glyphicon-remove-sign"></span>
                #= title #
            </h3>
            <p>#= message #</p>
        </div>
    </script>

    <script id="errorListTemplate" type="text/x-kendo-template">
        <div class="alert alert-danger">
            <h3>
                <span class="glyphicon glyphicon-remove-sign"></span>
                #= title #
            </h3>
            <ul>#= message #</ul>
        </div>
    </script>

    <script id="successTemplate" type="text/x-kendo-template">
        <div class="alert alert-success">
            <h3>
                <span class="glyphicon glyphicon-ok-sign"></span>
                #= title #
            </h3>
            <p>#= message #</p>
        </div>
    </script>

    <script type="text/x-kendo-template" id="gridValidationMessageTemplate">
        # if (field) { #
        <li>
            #=field#
            <ul>
                # } #
                # for (var i = 0; i < messages.length; ++i) { #
                <li>#= messages[i] #</li>
                # } #
                # if (field) { #
            </ul>
        </li>
        # } #
    </script>

    @(Html.Kendo().Notification()
                        .Name("notification")
                        .Position(p => p.Pinned(true).Top(75).Left(30))
                        .Stacking(NotificationStackingSettings.Down)
                        .AutoHideAfter(3 * 1000)
                        .HideOnClick(true)
                        .Button(false)
                        .Templates(t =>
                        {
                            t.Add().Type("infoTemplate").ClientTemplateID("infoTemplate");
                            t.Add().Type("errorTemplate").ClientTemplateID("errorTemplate");
                            t.Add().Type("warningTemplate").ClientTemplateID("warningTemplate");
                            t.Add().Type("successTemplate").ClientTemplateID("successTemplate");
                        })
    )

    @if (ViewBag.NotiticationTemplate != null && ViewBag.NotificationTitle != null)
    {
        <script type="text/javascript">
            $(document).ready(function () {
                ShowNotification("@ViewBag.NotificationTitle",
                                 "@ViewBag.NotificationMessage",
                                 "@ViewBag.NotiticationTemplate");

            });
        </script>
    }

    @RenderSection("scripts", required: false)
    <script>
        // IF INITIAL SCREEN IS TOO SMALL
        if ($(window).width() < 736) {
            if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
                $('#body').css('opacity', '0');
                $('header').css('opacity', '0');
                $('footer').css('opacity', '0');
                $('.rotate-phone--user').css('display', 'block');
                $('.rotate-phone--text').css('display', 'block');
                $('.enlarge-screen--user').css('display', 'none');
            }
            else {
                $('#body').css('opacity', '0');
                $('header').css('opacity', '0');
                $('footer').css('opacity', '0');
                $('.enlarge-screen--user').css('display', 'block');
                $('.rotate-phone--user').css('display', 'none');
                $('.rotate-phone--text').css('display', 'none');
            }
        }

        // IF RESIZE SCREEN
        $(window).resize(function () {
            if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
                if ($(window).width() < 736 && window.matchMedia("(orientation: portrait)").matches) {
                    $('#body').css('opacity', '0');
                    $('header').css('opacity', '0');
                    $('footer').css('opacity', '0');
                    $('.rotate-phone--user').css('display', 'block');
                    $('.rotate-phone--text').css('display', 'block');
                    $('.enlarge-screen--user').css('display', 'none');
                }
                else {
                    $('#body').css('opacity', '1');
                    $('header').css('opacity', '1');
                    $('footer').css('opacity', '1');
                    $('.rotate-phone--user').css('display', 'none');
                    $('.rotate-phone--text').css('display', 'none');
                    $('.enlarge-screen--user').css('display', 'none');
                }
            }
            else {
                if ($(window).width() < 736) {
                    $('#body').css('opacity', '0');
                    $('header').css('opacity', '0');
                    $('footer').css('opacity', '0');
                    $('.enlarge-screen--user').css('display', 'block');
                    $('.rotate-phone--user').css('display', 'none');
                    $('.rotate-phone--text').css('display', 'none');
                }
                else {
                    $('#body').css('opacity', '1');
                    $('header').css('opacity', '1');
                    $('footer').css('opacity', '1');
                    $('.enlarge-screen--user').css('display', 'none');
                    $('.rotate-phone--user').css('display', 'none');
                    $('.rotate-phone--text').css('display', 'none');
                }
            }
        });

    </script>
</body>
</html>
