@using Previgesst.Ressources
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>C L I E N T - Applications Prévigesst</title>

    <link runat="server" rel="shortcut icon" href="~/favicon.ico" type="image/x-icon" />
    <link runat="server" rel="icon" href="~/favicon.ico" type="image/ico" />


    <link rel="stylesheet" href="/content/v2/bootstrap/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="/content/v2/fonts.css" />
    <link rel="stylesheet" href="/content/v2/index.css" type="text/css" />
    <link rel="stylesheet" href="/Content/v2/style.css" />

    <script type="text/javascript">

        var CONFIGPATH = '@Url.Content("~/Scripts/cldr/")'

    </script>

    @*@Styles.Render("~/content/css")
        @Styles.Render("~/Content/csskendo")
        @Styles.Render("~/content/cssAfter")*@

    @Scripts.Render("~/bundles/cldr")
    @Scripts.Render("~/bundles/globalize")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryajax")

    @*@Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/kendo")
        @Scripts.Render("~/bundles/site")
    *@

    @{ 
        string path = Request.Url.PathAndQuery;
        string selectedLang = string.Empty;

        if (path.Contains("/en/")) { selectedLang = "en"; }
        else if (path.Contains("/fr/")) { selectedLang = "fr"; }

        path = path.Replace("/en/", "");
        path = path.Replace("/fr/", "");
        if (path.Length == 0)
        {
            path = "ClientLogin/Index";
        }
        if (path.Substring(0, 1) == "/")
        {
            path = path.Substring(1);
        }
        //utilisé pour prévicad client
        if (Session["ClientID"] != null && !path.Contains("?"))
        {
            path = path + "?ClientID=" + Session["ClientID"];
        }
    }
</head>
<body>

    <nav class="navbar fixed-top navbar-bg flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href='@Url.Action("Index", "MesApplications")'><img src="/content/v2/images/logo.png"></a>
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <div class="top-right-nav"> <a class="nav-link" href="#">Plateforme des administrateurs</a></div>
                <div class="lang-dropdown header-dropdown edit-profile-select ">
                    <select name="name_privacy" id="slct">
                        <option value="/fr/@path" @if (selectedLang == "fr") { <text>selected="selected"</text> } >Fr</option>
                        <option value="/en/@path" @if (selectedLang == "en") { <text>selected="selected"</text> } >En</option>
                    </select>
                </div>
            </li>
        </ul>
    </nav>

    <!-- Sidebar -->
    <sidebar>
        <div class="bg-light d-none d-md-block sidebar">
            <div class="left-sidebar">
                <ul class="nav flex-column sidebar-nav ">
                    <li class="nav-item text-center mt-2">
                        <a class="nav-link home-navlink active" href="#">
                            <img src="/content/v2/images/icon-home.png"><p class="nav-link-text">Accueil</p>
                        </a>
                    </li>
                </ul>
                <div class="nav-bottom">
                    <ul class="nav flex-column sidebar-nav">
                        <li class="nav-item text-center mt-2">
                            <a class="nav-link setting-navlink active" href="#">
                                <img src="/content/v2/images/setting-icon.png">
                            </a>
                        </li>
                    </ul>
                    <ul class="nav flex-column text-center sidebar-nav">
                        <li class="nav-item text-center mt-2 mb-3">
                            @using (Html.BeginForm("LogOff", "ClientLogin", FormMethod.Post, new { id = "logoutForm" }))
                            {
                            <a class="nav-link  power-navlink active tex" href="javascript:document.getElementById('logoutForm').submit()">
                                <img src="/content/v2/images/power-icon.png">
                            </a>
                            }
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </sidebar>

    @RenderBody()


    <footer class="previcad-footer">
        <div class="company-tagline-wrapper">
            <img src="/content/v2/images/brand-logo.png"><p class="">La prévention en application</p>
        </div>
        <p class="copyright-text">Copyright @DateTime.Now.Year Prévigesst. Tout droit réservés. Version 2.0</p>
    </footer>


    @*<header>
                @Html.Partial("_NavigationClient")
            </header>

        <div id="body">
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
    *@

    @RenderSection("scripts", required: false)
    <script src="~/Scripts/v2/bootstrap.bundle.min.js"></script>
    <script src="~/Scripts/v2/feather.min.js"></script>
    <script src="~/Scripts/v2/bootstrap.min.js"></script>
    <script type="text/javascript">
        $('#slct').change(function () {
            location.href = $(this).val();
        });
    </script>
</body>
</html>
