@using Previgesst.Ressources;
@using Previgesst.Ressources.Previcad
@model ChangeEmployeePasswordViewModel

@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_LayoutClient_v2.cshtml";
}


@section sidebar{
    <ul class="nav flex-column sidebar-nav" role="tablist">

        <li class="nav-item text-center mt-2">
            <a class="nav-link home-navlink" role="tab" href="/Registre/Index?ClientID=@Session["ClientID"]">
                <img src="/content/v2/images/icon-home.png" /><p class="nav-link-text">@LayoutRES.Accueil</p>
            </a>
        </li>

        <li class="nav-item text-center active">
            <a class="nav-link home-navlink" href="#">
                <img src="/content/v2/images/left-icon20.svg" title="@LayoutRES.ChangePassword" />
                <p class="nav-link-text">@LayoutRES.ChangePassword</p>
            </a>
        </li>
    </ul>
}

<main class="main-container-wrapper page-container">
    <div class="breadcrumbs-nav-wrapper">
        <ul class="breadcrumbs">
            <li><a href="/Registre/Index?ClientID=@Session["ClientID"]"> @LayoutRES.Accueil</a></li>
            <li>@LayoutRES.ChangePassword</li>
        </ul>
    </div>


    <div class="main-page-content">

        <div class="row m-0 login-content">
            <div class="col-lg-4 col-md-6 col-sm-12 login-form-wrapper p-0">
                <div class="previcad-login-form">
                    @using (Html.BeginForm("ChangePassword", "Registre", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()

                        @Html.HiddenFor(m => m.EmpID)

                        <div class="mb-3">
                            @Html.LabelFor(m => m.NoEmploye, new { @class = "form-label" })
                            @Html.TextBoxFor(m => m.NoEmploye, new { @class = "form-control", @readonly = "readonly" })
                            @Html.ValidationMessageFor(m => m.NoEmploye, "", new { @class = "text-danger" })
                        </div>

                        <div class="mb-3">
                            @Html.LabelFor(m => m.Password, new { @class = "form-label" })
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>

                        <div class="mb-3">
                            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "form-label" })
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                        </div>

                        <div class="login-form-footer">
                            <div class="login-btn-wrapper text-end">
                                <button type="submit" class="btn btn-mettre m-1" style="width: auto;">@ClientLoginRES.ConfirmPassword</button>
                            </div>
                        </div>

                        <br />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger d-block" })
                    }
                </div>
            </div>

        </div>
    </div>

</main>
