@using Previgesst.Ressources
@using Previgesst.Ressources.Previcad
@model Previgesst.ViewModels.EmployeRegistreViewModel


@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutClient_v2.cshtml";
}

@section styles{
    <link href="~/Content/kendo/2016.2.714/kendo.common-bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/kendo/2016.2.714/kendo.bootstrap.min.css" rel="stylesheet" />

    <link href="~/Content/kendo/2016.2.714/kendo.dataviz.min.css" rel="stylesheet" />
    <link href="~/Content/kendo/2016.2.714/kendo.dataviz.bootstrap.min.css" rel="stylesheet" />

    <link href="~/Content/v2/grid-override.css" rel="stylesheet" />
}

@section sidebar{
    <ul class="nav flex-column sidebar-nav" role="tablist">

        <li class="nav-item text-center active">
            <a id="Fiches" class="nav-link home-navlink active" href="#TabFiches" aria-controls="general" role="tab" data-toggle="tab" data-bs-toggle="tab">
                <img src="/content/v2/images/Procédures.svg" title="@PrevIndexRES.MenuFiche" />
                <p class="nav-link-text">@PrevIndexRES.MenuFiche</p>
            </a>
        </li>

        <li class="nav-item text-center">
            <a id="EnCours" onclick="refreshEnCours()" class="nav-link home-navlink" href="#TabEnCours" aria-controls="general" role="tab" data-toggle="tab" data-bs-toggle="tab">
                <img src="/content/v2/images/left-icon20.svg" title="@PrevIndexRES.EnCours" />
                <p class="nav-link-text">@PrevIndexRES.EnCours</p>
            </a>
        </li>

        <li class="nav-item text-center">
            <a id="Dep" onclick="refreshTermines()" class="nav-link home-navlink" href="#TabTermines" aria-controls="general" role="tab" data-toggle="tab" data-bs-toggle="tab">
                <img src="/content/v2/images/left-icon22.svg" title="@PrevIndexRES.Termines" />
                <p class="nav-link-text">@PrevIndexRES.Termines</p>
            </a>
        </li>

        <li class="nav-item text-center">
            <a id="Doc" class="nav-link home-navlink" href="#TabDocuments" aria-controls="general" role="tab" data-toggle="tab" data-bs-toggle="tab">
                <img src="/content/v2/images/left-icon2.svg" title="@PrevIndexRES.Programme" />
                <p class="nav-link-text">@PrevIndexRES.Programme</p>
            </a>
        </li>
    </ul>
}

@section sidebarChilds{
    <li><a class="submenu-dropdown-item" href="/Registre/ChangePassword">@LayoutRES.ChangePassword</a></li>
}

<main class="main-container-wrapper page-container">
    <div class="breadcrumbs-nav-wrapper">
        <ul class="breadcrumbs">
            <li><a href="#"> @PrevIndexRES.Fiches</a></li>
        </ul>
    </div>

    <div class="main-page-content">

        <div class="tab-content">

            <div id="TabFiches" class="tab-pane active">
                @Html.Partial("Fiches", @Model)
            </div>
            <div id="TabEnCours" class="tab-pane">
                @Html.Partial("EnCours", @Model)
            </div>
            <div id="TabTermines" class="tab-pane">
                @Html.Partial("Termines", @Model)
            </div>
            <div id="TabDocuments" class="tab-pane">
                @Html.Partial("Documents", @Model)
            </div>

        </div>


    </div>
</main>

<script>
    function refreshEnCours(e) {
        $("#listEnCours").data("kendoGrid").dataSource.read();
    }

    function refreshTermines(e) {
        $("#listTermines").data("kendoGrid").dataSource.read();
    }

    $(document).ready(function () {
        $('.k-grid-content').removeAttr('style');
        $('a.navbar-brand.dark-logo').attr('href', '/Registre')

        $('#liMonCompte').remove();
    });

</script>
